<!DOCTYPE html>
<html ng-app="myApp" ng-app lang="en">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {font-size:12px;}    
    ul>li, a{cursor: pointer;}
    select>option {font-size:12px;}
    .waiting {cursor: wait;}
    </style>
    <title>AngularJS (Inventory)</title>
</head>
<body style="background:#A4BBC7">

<div ng-controller="dataCrtl as vm">
<div class="container">
<br/>
    <div class="row" style="font-size:10px">
        <div class="col-md-3">
	    <label>Hardware <input type="checkbox" ng-model="vm.hardware"></label>&nbsp;
	    <label>Software <input type="checkbox" ng-model="vm.software"></label>&nbsp;
	    <label>Security <input type="checkbox" ng-model="vm.security"></label>

	</div>
        <div class="col-md-2">
	    <label>Host:</label>

	</div>
        <div class="col-md-1">
	    <label>PageSize:</label>

	</div>
        <div class="col-md-3">
	    <label>Filter:</label>

	</div>
        <div class="col-md-3">
	    <label>Results:</label>

	</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <select ng-model="vm.feature" ng-change="vm.getData()" class="form-control">
                <option ng-if="vm.hardware" value="/web/rest/private/hardware/system">Linux System (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wsystem">Windows System (hard)</option>
                <option ng-if="vm.hardware" value="/web/rest/private/hardware/memory">Linux Memory (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wmemory">Windows Memory (hard)</option>
                <option ng-if="vm.hardware" value="/web/rest/private/hardware/bios">Linux Bios (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wbios">Windows Bios (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/processor">Linux Processor (hard)</option>
                <option ng-if="vm.hardware" value="/web/rest/private/hardware/wprocessor">Windows Processor (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/chassis">Linux Chassis (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/baseboard">Linux Baseboard (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wbaseboard">Windows Baseboard (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/devices">Linux Devices (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wdevices">Windows Devices (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/interfaces">Linux Interfaces (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/winterfaces">Windows Interfaces (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/cache">Linux Cache (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/slots">Linux Slots (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wbuses">Windows Buses (hard)</option>
	        <option ng-if="vm.hardware" value="/web/rest/private/hardware/connectors">Linux Connectors (hard)</option>
		<option ng-if="vm.hardware" value="/web/rest/private/hardware/wconnectors">Windows Connectors (hard)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/distribution">Linux Distribution (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/kernel">Linux Kernel (soft)</option>
		<option ng-if="vm.software" value="/web/rest/private/software/packagemanager">Linux Package Manager (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/modules">Linux Modules (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/domain">Linux Domain (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/resolver">Linux DNS Resolver (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/filehost">Linux /etc/hosts (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/routes">Linux Network Routes (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/swap">Linux Swap (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/virtualization">Linux Virtualization (soft)</option>
                <option ng-if="vm.software" value="/web/rest/private/software/filesystems">Linux FileSystems (soft)</option>
		<option ng-if="vm.software" value="/web/rest/private/software/wlogicaldevices">Windows Logical Devices (soft)</option>
		<option ng-if="vm.software" value="/web/rest/private/software/woperatingsystem">Windows Operating System (soft)</option>
		<option ng-if="vm.software" value="/web/rest/private/software/wdomain">Windows Domain (soft)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/packages">Linux Packages (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/wpackages">Windows Packages (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/exes">Linux Exes (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/exes/nopackage">Linux Exes with no Package (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/exes/setuid">Linux Exes with Setuid (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/exes/setgid">Linux Exes with Setgid (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/users">Linux Users (security)</option>
		<option ng-if="vm.security" value="/web/rest/private/security/waccounts">Windows Accounts (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/groups">Linux Groups (security)</option>
		<option ng-if="vm.security" value="/web/rest/private/security/wgroups">Windows Groups (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/sudo">Linux Sudo (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/crontab">Linux Crontab (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/iptables">Linux IPtables (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/wrappers">Linux TCP Wrappers (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/pamaccess">Linux PAM Access (security)</option>
		<option ng-if="vm.security" value="/web/rest/private/security/wdrivers">Windows Drivers (security)</option>
		<option ng-if="vm.security" value="/web/rest/private/security/wservices">Windows Services (security)</option>
		<option ng-if="vm.security" value="/web/rest/private/security/wshares">Windows Shares (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/inports">IN Ports (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/outports">OUT Ports (security)</option>
                <option ng-if="vm.security" value="/web/rest/private/security/openvas">Openvas (security)</option>
            </select>
        </div>
        <div class="col-md-2">
            <select ng-model="vm.server" ng-change="vm.getData()" class="form-control">
                <option value="ALL">All hosts</option>
                <option ng-repeat="item in vm.serversList | orderBy: 'Server' | unique:'Server'">{{item.Server}}</option>
            </select>
        </div>
        <div class="col-md-1">
            <select ng-model="vm.entryLimit" class="form-control">
                <option>1</option>
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="vm.search" ng-change="vm.filter()" placeholder="Filter" class="form-control" />
        </div>
        <div class="col-md-3">
            <h5>Filtered {{ vm.filtered.length }} of {{ vm.totalItems }}</h5>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" ng-show="vm.filteredItems > 0">
	    <div><a ng-click="vm.showAll(vm.feature + '...');">Show all columns</a></div>
            <table class="table table-striped table-bordered">
            <thead>
	        <tr ng-repeat="item in vm.list | limitTo:1">
                    <th ng-repeat="(key, val) in item | orderBy: key" ng-if="vm.server == 'ALL' || key != 'Server'" ng-hide="vm.isHidden(vm.feature + '...' + key);">
                    <a ng-click="vm.sort_by(key);"><i class="glyphicon glyphicon-sort"></i></a>&nbsp;{{key}}&nbsp;<a ng-click="vm.hide(vm.feature + '...' + key);">X</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in vm.filtered = (vm.list | filter:vm.search | orderBy: vm.predicate :vm.reverse) | startFrom:(vm.currentPage-1)*vm.entryLimit | limitTo:vm.entryLimit">
                    <td ng-repeat="(key, val) in data  | orderBy: key" ng-if="vm.server == 'ALL' || key != 'Server'" ng-hide="vm.isHidden(vm.feature + '...' + key);">
                        <div ng-hide="{{ val | isArray }}">
			    <div ng-hide="{{ val | isHTTP }}">{{ val }}</div>
			    <div ng-show="{{ val | isHTTP }}"><a href="{{ val }}" target="_blank">Link</a></div> 
			</div>
		        <div ng-show="{{ val | isArray }}">
		    	    <table class="table table-striped table-bordered">
			    <thead>
	   	                <tr ng-repeat="subitem in val | limitTo:1">
			            <th ng-hide="{{ !(subitem | isObject) }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey)" ng-repeat="(subkey, subval) in subitem  | orderBy: subkey" ng-if="vm.server == 'ALL' || subkey != 'Server'">
				    <a ng-click="vm.sortSub_by(subkey);"><i class="glyphicon glyphicon-sort"></i></a>&nbsp;{{subkey}}&nbsp;<a ng-click="vm.hide(vm.feature + '...' + key + '...' + subkey);">X</a>
				    </th>
                	        </tr>
			    </thead>
			    <tbody>
		            	<tr ng-repeat="subdata in val | orderBy: vm.predicateSub :vm.reverseSub">
				    <td ng-hide="{{ subdata | isObject }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey)">
                                        <div ng-hide="{{ subdata | isHTTP }}">{{ subdata }}</div>
                                        <div ng-show="{{ subdata | isHTTP }}"><a href="{{ subdata }}" target="_blank">Link</a></div>
				    </td>
				    <td ng-hide="{{ !(subdata | isObject) }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey)" ng-repeat="(subkey, subval) in subdata  | orderBy: subkey">
		                        <div ng-hide="{{ subval | isArray }}">
                            		    <div ng-hide="{{ subval | isHTTP }}">{{ subval }}</div>
                            		    <div ng-show="{{ subval | isHTTP }}"><a href="{{ subval }}" target="_blank">Link</a></div>
                        		</div>
				        <div ng-show="{{ subval | isArray }}">
				    	    <table class="table table-striped table-bordered">
					    <thead>
			   	                <tr ng-repeat="sub2item in subval | limitTo:1">
					            <th ng-hide="{{ !(sub2item | isObject) }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey + '...' + sub2key)" ng-repeat="(sub2key, sub2val) in sub2item  | orderBy: sub2key" ng-if="vm.server == 'ALL' || sub2key != 'Server'">
						    <a ng-click="vm.sortSub2_by(sub2key);"><i class="glyphicon glyphicon-sort"></i></a>&nbsp;{{sub2key}}&nbsp;<a ng-click="vm.hide(vm.feature + '...' + key + '...' + subkey + '...' + sub2key);">X</a>
						    </th>
		                	        </tr>
					    </thead>
					    <tbody>
				            	<tr ng-repeat="sub2data in subval | orderBy: vm.predicateSub2 :vm.reverseSub2">
						    <td ng-hide="{{ sub2data | isObject }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey + '...' + sub2key)">
                                        		<div ng-hide="{{ sub2data | isHTTP }}">{{ sub2data }}</div>
                                        		<div ng-show="{{ sub2data | isHTTP }}"><a href="{{ sub2data }}" target="_blank">Link</a></div>
						    </td>
						    <td ng-hide="{{ !(sub2data | isObject) }} || vm.isHidden(vm.feature + '...' + key + '...' + subkey + '...' + sub2key)" ng-repeat="(sub2key, sub2val) in sub2data  | orderBy: sub2key">
                                            		<div ng-hide="{{ sub2val | isHTTP }}">{{ sub2val }}</div>
                                            		<div ng-show="{{ sub2val | isHTTP }}"><a href="{{ sub2val }}" target="_blank">Link</a></div>
						    </td>
					    	</tr>
					    </tbody>
					    </table>
				        </div>
				    </td>
			    	</tr>
			    </tbody>
			    </table>
		        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show="vm.filteredItems == 0">
            <div class="col-md-12">
                <h4>No data found</h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="vm.filteredItems > 0">    
            <div pagination="" page="vm.currentPage" on-select-page="vm.setPage(page)" boundary-links="true" total-items="vm.filteredItems" items-per-page="vm.entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
        </div>
    </div>
</div>
</div>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="app/app.js"></script>         
</body>
</html>
