{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
# Made by EPS Monitoring System

ProxyRequests Off
ProxyTimeout 300

ProxyPass /openvas https://{{ hostnameOpenvas }}:9392
ProxyHTMLURLMap http://{{ hostnameOpenvas }}:9392 /openvas
<Location /openvas>

        ProxyPassReverse https://{{ hostnameOpenvas }}:9392
        SetOutputFilter proxy-html
        ProxyHTMLExtended On
        ProxyHTMLURLMap /          /openvas/
        ProxyHTMLURLMap /openvas   /openvas
        ProxyHTMLURLMap img        /openvas/img

</Location>

