{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
# Made by EPS Monitoring System

# dokuwiki
# SElinux support for dokuwiki
# 0
#

Alias /wiki /usr/share/dokuwiki

<Directory /usr/share/dokuwiki>
	<IfModule !mod_authz_core.c>
		# Apache 2.2
		Options +FollowSymLinks
                Order Deny,Allow
                Deny from ALL 
{% if hostsAdmins|count > 0 %}
{%  for host in hostsAdmins %}
                Allow from {{ host }}/32
{%  endfor %}
{% else %}
                Allow from ALL
{% endif %}

{% if readUser != "" %}
{%  if hostsReadUser is defined and hostsReadUser|count > 0 %}
{%   for host in hostsReadUser %}
                Allow from {{ host }}/32
{%   endfor %}
{%  else %}
                Allow from ALL
{%  endif %}
{% endif %}

	  	AuthType Basic
	  	AuthName "Authentication Required"
	  	AuthUserFile "{{ pathApache }}/.passwdFile"
	  	Require user admin
{% if readUser != "" %}
                Require user {{ readUser }}
{% endif %}

	</IfModule>
</Directory>

<Directory /usr/share/dokuwiki/inc>
	Order Deny,Allow
	Deny from all
</Directory>

<Directory /usr/share/dokuwiki/inc/lang>
	Order Deny,Allow
	Deny from all
</Directory>

<Directory /usr/share/dokuwiki/lib/_fla>
	## no access to the fla directory
	Order allow,deny
	Deny from all
</Directory>

<Directory /etc/dokuwiki>
	Order Deny,Allow
	Deny from all
</Directory>


