[[ Servers | Back to Servers page]]


==== Server {{ item.name }}: Last changes  ====

{% if hostvars[inventory_hostname]["%s-last" % (item.name) ] is defined -%}
^  Last Changes (Last 100)  ^^^
^  Live Since  ^  Until  ^  Type  ^
{% for change in hostvars[inventory_hostname]["%s-last" % (item.name)] -%}
|  {{ change.Date }}  |  {{ "%s" % change.End if change.End != "None" else "Now" }}  |  {{ ("node" if change.Node == "1" else "outsider") if change.Node != "2" else "winNode" }}  |
{% endfor %}
{% endif %}



[[ Servers | Back to Servers page]]

