[[ Servers | Back to Servers page]]


==== Server {{ item.name }}: Vulnerability scanning (Openvas)  ====

{% if hostvars[inventory_hostname]["%s-openvas" % (item.name) ] is defined -%}
^  Scanning (Last 100)  ^^^^^^^^^
^  Date  ^  Severity  ^  CVSS  ^  High  ^  Medium  ^  Low  ^  Log  ^  False Positive  ^  Report  ^ 
{% for scan in hostvars[inventory_hostname]["%s-openvas" % (item.name)] -%}
|  {{ scan.Date }}  |  {{ scan.Severity }}  |  {{ scan.CVSS }}  |  {{ scan.TotalHigh }}  |  {{ scan.TotalMedium }}  |  {{ scan.TotalLow }}  |  {{ scan.TotalLog }}  |  {{ scan.TotalFalsePositive }}  |  [[ {{ "https://%s/openvas/%s/%s-%s.html" % (hostnameWeb, item.name, item.name, scan.DateString) }} | HTML ]] - [[ {{ "https://%s/openvas/%s/%s-%s.pdf" % (hostnameWeb, item.name, item.name, scan.DateString) }} | PDF ]] - [[ {{ "https://%s/openvas/%s/%s-%s.txt" % (hostnameWeb, item.name, item.name, scan.DateString) }} | TXT ]] - [[ {{ "https://%s/openvas/%s/%s-%s.xml" % (hostnameWeb, item.name, item.name, scan.DateString) }} | XML ]]  |
{% endfor %}
{% endif %}



[[ Servers | Back to Servers page]]

