[[{{ "%s" % item.name if item.type=="node" or item.type=="winNode" else "Servers" }} | Back to {{ "%s" % item.name if item.type=="node" or item.type=="winNode" else "Servers" }} page]]


==== Server {{ item.name }}: TCP Listenning Ports (External Scan) ====

{% if item.tcp is defined -%}
^  TCP Listenning Ports  ^
{% for portTCP in item.tcp -%}
|  {{ portTCP }}  |
{% endfor %}
{% endif %}



[[{{ "%s" % item.name if item.type=="node" or item.type=="winNode" else "Servers" }} | Back to {{ "%s" % item.name if item.type=="node" or item.type=="winNode" else "Servers" }} page]]

