{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[ Servers | Back to Main page]]


==== INVENTORY (HISTORICAL)====

^  TOTAL LIST ({{ hostvars[inventory_hostname]["servers-hist"]|count }} hosts)  ^
<sortable 1 1=alpha 2=alpha 3=alpha 4=alpha 5=alpha 6=nosort 7=nosort 8=nosort>
^  Host  ^  IP  ^  Type  ^  Live until  ^  Vulnerability (Last Scan)  ^  Munin  ^  Grafana  ^  Notes  ^
{% for host in hostvars[inventory_hostname]["servers-hist"] -%}
| [[{{ "%s" % host.name if host.type=="node" or host.type=="winNode" else "%s-portsext" % host.name }} | {{ host.name }}]] | {{ host.IP }} |  {{ host.type }}  |  [[ {{ "%s-hostslast" % host.name }} | {{ host.date }} ]]  |  {{ "  [[ %s-openvas | %s (%s) %s ]]  " % (host.name, host.severity, host.CVSS, host.scanDate) if host.severity!="" else "" }}  |  {% if host.type=='node' -%}[[ https://{{ hostnameMunin }}/munin-cgi/munin-cgi-html/{{ host.domain }}/{{ host.name }}/index.html | View ]]{% endif -%}  |  [[ https://{{ hostnameWeb }}/grafana/dashboard/db/eps-ms-{{ host.name|replace(".","-") }} | View ]]  |  [[{{ host.name }}-notes | + ]]  |
{% endfor %}
</sortable>

[[ Servers | Back to Main page]]
