[[ Servers | Back to Servers page]]


==== INVENTORY (HISTORICAL) ====

^  HISTORICAL SERVERS LIST ({{ hostvars[inventory_hostname]["servers-hist"]|count }})  ^^^
<sortable 1 1=alpha 2=alpha 3=nosort>
^  Server  ^  Live (Until)  ^  Notes  ^
{% for host in hostvars[inventory_hostname]["servers-hist"] -%}
|  {{ host.Name }}  |  {{ "Live until %s" % (host.Date) }}  |  [[{{ host.Name }}-notes | + ]]  |
{% endfor %}
</sortable>

[[ Servers | Back to Servers page]]
