[[ Servers | Back to Servers page]]


==== INVENTORY (NODES) ====

{% for group in network|groupby('type') -%}
{% if group.grouper == "node" -%}
^  NODES ({{ group.list|count }} servers)  ^
<sortable 1 1=alpha 2=alpha 3=nosort 4=alpha 5=alpha 6=nosort 7=nosort 8=nosort>
^  Server  ^  IP  ^  Type  ^  Live since  ^  Vulnerability (Last Scan)  ^  Nagios  ^  Munin  ^  Notes  ^
{% for host in group.list -%}
| [[{{ "%s" % host.name if host.type=="node" else "%s-portsext" % host.name }} | {{ host.name }}]] | {{ host.IP }} |  {{ host.type }}  |  [[ {{ "%s-hostslast" % host.name }} |  {% for i in hostvars[inventory_hostname]["%s-last" % (host.name)] -%}{% if loop.first -%}{{ i.Date }}{% endif -%}{% endfor -%} ]]  |  {% for i in hostvars[inventory_hostname]["%s-openvas" % (host.name)] -%}{% if loop.first -%}{{ "  [[ %s-openvas | %s (%s) %s ]]  " % (host.name, i.Severity, i.CVSS, i.Date) }}{% endif -%}{% endfor -%}  |  [[ https://{{ hostnameNagios }}/nagios/cgi-bin/status.cgi?host={{ host.name }} | View ]]  |  {% for m in muninName.results -%}{% if m.stdout|lower==host.name|lower -%}[[ https://{{ hostnameMunin }}/munin-cgi/munin-cgi-html/{{ ansible_domain }}/{{ m.stdout }}/index.html | View ]]{% endif -%}{% endfor -%}  |  [[{{ host.name }}-notes | + ]]  |
{% endfor %}
</sortable>
{% endif %}
{% endfor %}

[[ Servers | Back to Servers page]]
