{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
# Made by EPS Monitoring System

ScriptAlias /nagios/cgi-bin "/usr/lib/nagios/cgi-bin"
<Directory "/usr/lib/nagios/cgi-bin">
        Options ExecCGI
        AllowOverride None

        Order Deny,Allow
        Deny from ALL
{% if hostsAdmins|count > 0 %}
{%  for host in hostsAdmins %}
        Allow from {{ host }}/32
{%  endfor %}
{% else %}
        Allow from ALL
{% endif %}

{% if readUser != "" %}
{%  if hostsReadUser is defined and hostsReadUser|count > 0 %}
{%   for host in hostsReadUser %}
        Allow from {{ host }}/32
{%   endfor %}
{%  else %}
        Allow from ALL
{%  endif %}
{% endif %}

	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin 
{% if readUser != "" %}
        Require user {{ readUser }}
{% endif %}

</Directory>

Alias /nagios "/usr/share/nagios/html"
<Directory "/usr/share/nagios/html">
        Options None
        AllowOverride None

        Order Deny,Allow
        Deny from ALL 
{% if hostsAdmins|count > 0 %}
{%  for host in hostsAdmins %}
        Allow from {{ host }}/32
{%  endfor %}
{% else %}
        Allow from ALL
{% endif %}

{% if readUser != "" %}
{%  if hostsReadUser is defined and hostsReadUser|count > 0 %}
{%   for host in hostsReadUser %}
        Allow from {{ host }}/32
{%   endfor %}
{%  else %}
        Allow from ALL
{%  endif %}
{% endif %}

	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin
{% if readUser != "" %}
        Require user {{ readUser }}
{% endif %}

</Directory>

