ScriptAlias /nagios/cgi-bin "/usr/lib/nagios/cgi-bin"
<Directory "/usr/lib/nagios/cgi-bin">
        Options ExecCGI
        AllowOverride None
        Order allow,deny
	{% for admins in hostsAdmins -%}
	Allow from {{ admins }}/32
	{% endfor %}
	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin
</Directory>

Alias /nagios "/usr/share/nagios/html"
<Directory "/usr/share/nagios/html">
        Options None
        AllowOverride None
        Order allow,deny
	{% for admins in hostsAdmins -%}
	Allow from {{ admins }}/32
	{% endfor %}
	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin
</Directory>

