[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Shares ====

{% if hostvars[inventory_hostname]["Share"] is defined -%}
{% for share in hostvars[inventory_hostname]["Share"] -%}
^  {{ share["name"] }}  ^^ 
^ Caption | {{ share["caption"] }} |
^ Path | {{ share["pathShare"] }} |
^ Type | {{ share["typeShare"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

