{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: System ====

{% if hostvars[inventory_hostname]["ComputerSystem"] is defined -%}
^ Description| {{ hostvars[inventory_hostname]["ComputerSystem"]["description"] }} |
^ System Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["systemType"] }} |
^ PC System Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["PCSystemType"] }} |
^ Manufacturer | {{ hostvars[inventory_hostname]["ComputerSystem"]["manufacturer"] }} | 
^ Model | {{ hostvars[inventory_hostname]["ComputerSystem"]["model"] }} |
^ Infrared Supported | {{ hostvars[inventory_hostname]["ComputerSystem"]["infraredSupported"] }} |
^ Wake-Up Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["wakeUpType"] }} |
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

