[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Connectors ====

{% if hostvars[inventory_hostname]["PortConnector"] is defined -%}
{% for port in hostvars[inventory_hostname]["PortConnector"] -%}
^  {{ port["tag"] }}  ^^ 
^ Connector Type | {{ port["connectorType"] }} |
^ Port Type | {{ port["portType"] }} |
^ External Reference Designator | {{ port["externalReferenceDesignator"] }} |
^ Internal Reference Designator | {{ port["internalReferenceDesignator"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

