{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Connectors ====

{% if hostvars[inventory_hostname]["PortConnector"] is defined -%}
{% for port in hostvars[inventory_hostname]["PortConnector"] -%}
^  {{ port["tag"] }}  ^^ 
^ Connector Type | {{ port["connectorType"] }} |
^ Port Type | {{ port["portType"] }} |
^ External Reference Designator | {{ port["externalReferenceDesignator"] }} |
^ Internal Reference Designator | {{ port["internalReferenceDesignator"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

