[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Domain ====

{% if hostvars[inventory_hostname]["ComputerSystem"] is defined -%}
^ Domain | {{ hostvars[inventory_hostname]["ComputerSystem"]["domain"] }} |
^ Part Of Domain | {{ hostvars[inventory_hostname]["ComputerSystem"]["partOfDomain"] }} |
^ WorkGroup | {{ hostvars[inventory_hostname]["ComputerSystem"]["workgroup"] }} |
^ Domain Role | {{ hostvars[inventory_hostname]["ComputerSystem"]["domainRole"] }} | 
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

