[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Drivers ====

{% if hostvars[inventory_hostname]["SystemDriver"] is defined -%}
{% for driver in hostvars[inventory_hostname]["SystemDriver"] -%}
^  {{ driver["name"] }}  ^^ 
^ Caption | {{ driver["caption"] }} |
^ Path Name | {{ driver["pathName"] }} |
^ Service Type | {{ driver["serviceType"] }} |
^ Start Mode | {{ driver["startMode"] }} |
^ State | {{ driver["state"] }} |
^ Error Control | {{ driver["errorControl"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

