[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: System ====

{% if hostvars[inventory_hostname]["ComputerSystem"] is defined -%}
^ Description| {{ hostvars[inventory_hostname]["ComputerSystem"]["description"] }} |
^ System Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["systemType"] }} |
^ PC System Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["PCSystemType"] }} |
^ Manufacturer | {{ hostvars[inventory_hostname]["ComputerSystem"]["manufacturer"] }} | 
^ Model | {{ hostvars[inventory_hostname]["ComputerSystem"]["model"] }} |
^ Infrared Supported | {{ hostvars[inventory_hostname]["ComputerSystem"]["infraredSupported"] }} |
^ Wake-Up Type | {{ hostvars[inventory_hostname]["ComputerSystem"]["wakeUpType"] }} |
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

