{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Buses ====

{% if hostvars[inventory_hostname]["Bus"] is defined -%}
{% for bus in hostvars[inventory_hostname]["Bus"] -%}
^  {{ bus["deviceID"] }}  ^^ 
^ Caption | {{ bus["caption"] }} |
^ Bus Num | {{ bus["busNum"] }} |
^ Bus Type | {{ bus["busType"] }} |
^ Availability | {{ bus["availability"] }} |
^ Config manager Error | {{ bus["configManagerErrorCode"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

