[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Services ====

{% if hostvars[inventory_hostname]["Service"] is defined -%}
{% for service in hostvars[inventory_hostname]["Service"] -%}
^  {{ service["name"] }}  ^^ 
^ Caption | {{ service["caption"] }} |
^ Path Name | {{ service["pathName"] }} |
^ Process ID | {{ service["processId"] }} |
^ Start Mode | {{ service["startMode"] }} |
^ State | {{ service["state"] }} |
^ Error Control | {{ service["errorControl"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

