{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Domain ====

{% if hostvars[inventory_hostname]["ComputerSystem"] is defined -%}
^ Domain | {{ hostvars[inventory_hostname]["ComputerSystem"]["domain"] }} |
^ Part Of Domain | {{ hostvars[inventory_hostname]["ComputerSystem"]["partOfDomain"] }} |
^ WorkGroup | {{ hostvars[inventory_hostname]["ComputerSystem"]["workgroup"] }} |
^ Domain Role | {{ hostvars[inventory_hostname]["ComputerSystem"]["domainRole"] }} | 
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

