[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Buses ====

{% if hostvars[inventory_hostname]["Bus"] is defined -%}
{% for bus in hostvars[inventory_hostname]["Bus"] -%}
^  {{ bus["deviceID"] }}  ^^ 
^ Caption | {{ bus["caption"] }} |
^ Bus Num | {{ bus["busNum"] }} |
^ Bus Type | {{ bus["busType"] }} |
^ Availability | {{ bus["availability"] }} |
^ Config manager Error | {{ bus["configManagerErrorCode"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

