[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Network Adapters ====

{% if hostvars[inventory_hostname]["NetworkAdapter"] is defined -%}
{% for net in hostvars[inventory_hostname]["NetworkAdapter"] -%}
^  Adapter {{ net["serviceName"] }}  ^^ 
^ Name | {{ net["name"] }} |
^ Type | {{ net["adapterType"] }} |
^ MAC Address | {{ net["MACAddress"] }} |
^ Manufacturer | {{ net["manufacturer"] }} |
^ Connection Status | {{ net["netConnectionStatus"] }} |
^ Config manager Error | {{ net["configManagerErrorCode"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

