ServerName {{ ansible_fqdn }} 

SSLEngine On
SSLProtocol all -SSLv2 -SSLv3
SSLHonorCipherOrder On
SSLCipherSuite RC4-SHA:HIGH:!ADH
SSLProxyEngine off
SSLCertificateFile {{ pathApache }}/ssl/ansible-server.crt
SSLCertificateKeyFile {{ pathApache }}/ssl/ansible-server.key

ServerAdmin root@{{ ansible_domain }}
ServerSignature Off

DocumentRoot /var/www/

<directory /var/www>
     Order deny,allow
     Deny from all
     {% for admins in hostsAdmins -%}
     Allow from {{ admins }}/32
     {% endfor %}

     AuthType Basic
     AuthName "Authentication Required"
     AuthUserFile "{{ pathApache }}/.passwdFile"
     Require user admin

     Options None
     DirectoryIndex index.html index.php index.phtml
     AllowOverride None
</directory>
