{
  "orgId":1,
  "name":"munin",
  "type":"influxdb",
  "access":"proxy",
  "url":"https://localhost:8086",
  "user":"admin",
  "password":"{{ passwdAdmin }}",
  "database":"munin",
  "basicAuth":false,
  "withCredentials":false,
  "isDefault":true
}
