# Checking Load
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description            	Load 
        check_command                   check_nrpe_1arg!check_Ansible_load
        }

# Checking Disk Root
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             Disk Root 
        check_command                   check_nrpe_1arg!check_Ansible_diskRoot
        }

# Checking TCP ports of {{ inventory_hostname }}

{% for portTCP in hostvars[inventory_hostname]["tcp"] -%}
# TCP Port {{ portTCP.port }}
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }} 
        service_description             TCP Port {{ portTCP.port }} INSIDE
        check_command                   check_nrpe_1arg!check_portTCP_{{ portTCP.port }}
        }

{% endfor %}

{% if hostvars[inventory_hostname]["udp"] is defined -%}
{% for portUDP in hostvars[inventory_hostname]["udp"] -%}
# UDP Port {{ portUDP.port }}
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}
        service_description             UDP Port {{ portUDP.port }} INSIDE
        check_command                   check_nrpe_1arg!check_portUDP_{{ portUDP.port }}
        }

{% endfor %}
{% endif %}
