# required because we serve out of the cgi directory and URLs are relative
Alias /munin-cgi/munin-cgi-html/static {{ muninHtml }}/static 
RedirectMatch ^/munin$ /munin-cgi/munin-cgi-html/

# Rewrite rules to serve traffic from the root instead of /munin-cgi
RewriteEngine On

# Static files
RewriteRule ^/munin/favicon.ico {{ muninHtml }}/static/favicon.ico [L]
RewriteRule ^/munin/static/(.*) {{ muninHtml }}/static/$1          [L]

# HTML
RewriteRule ^/munin/(/.*\.html)?$           /munin-cgi/munin-cgi-html/$1 [PT]

# Images
#RewriteRule ^/munin-cgi/munin-cgi-graph/(.*) /$1
#RewriteCond %{REQUEST_URI}                 !^/static
#RewriteRule ^/munin/(.*.png)$  /munin-cgi/munin-cgi-graph/$1 [L,PT]

ScriptAlias /munin-cgi/munin-cgi-graph {{ muninCgi }}/munin-cgi-graph
<Location /munin-cgi/munin-cgi-graph>
        Options +ExecCGI
        <IfModule mod_fcgid.c>
            SetHandler fcgid-script
        </IfModule>
        <IfModule !mod_fcgid.c>
            SetHandler cgi-script
        </IfModule>
        Order deny,allow
        Deny from all
        {% for admins in hostsAdmins -%}
        Allow from {{ admins }}/32
        {% endfor %}
	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin
</Location>

ScriptAlias /munin-cgi/munin-cgi-html {{ muninCgi }}/munin-cgi-html
<Location /munin-cgi/munin-cgi-html>
        Options +ExecCGI
        <IfModule mod_fcgid.c>
            SetHandler fcgid-script
        </IfModule>
        <IfModule !mod_fcgid.c>
            SetHandler cgi-script
        </IfModule>
        Order deny,allow
        Deny from all
        {% for admins in hostsAdmins -%}
        Allow from {{ admins }}/32
        {% endfor %}
	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin
</Location>

<Location /munin-cgi/munin-cgi-html/static>
        # this needs to be at the end to override the above sethandler directives
        Options -ExecCGI
        SetHandler None
</Location>
