# dokuwiki
# SElinux support for dokuwiki
# 0
#

Alias /wiki /usr/share/dokuwiki

<Directory /usr/share/dokuwiki>
	<IfModule mod_authz_core.c>
		# Apache 2.4
		#Require local
                {% for admins in hostsAdmins -%}
		Require ip {{ admins }}
		{% endfor %}
	  	AuthType Basic
	  	AuthName "Authentication Required"
	  	AuthUserFile "{{ pathApache }}/.passwdFile"
	  	Require user admin
	</IfModule>
	<IfModule !mod_authz_core.c>
		# Apache 2.2
		Options +FollowSymLinks
		Order Deny,Allow
		#Allow from 127.0.0.1 ::1
		Deny from All
		{% for admins in hostsAdmins -%}
		Allow from {{ admins }}/32
		{% endfor %}
	  	AuthType Basic
	  	AuthName "Authentication Required"
	  	AuthUserFile "{{ pathApache }}/.passwdFile"
	  	Require user admin
	</IfModule>
</Directory>

<Directory /usr/share/dokuwiki/inc>
	Order Deny,Allow
	Deny from all
</Directory>

<Directory /usr/share/dokuwiki/inc/lang>
	Order Deny,Allow
	Deny from all
</Directory>

<Directory /usr/share/dokuwiki/lib/_fla>
	## no access to the fla directory
	Order allow,deny
	Deny from all
</Directory>

<Directory /etc/dokuwiki>
	Order Deny,Allow
	Deny from all
</Directory>


