{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
<?php

$conf['start'] = 'inventory:servers'; //name of start page
$conf['title'] = 'Inventory';         //what to show in the title

$conf['target']['extern'] = '_blank'; // Open external URL in new window
$conf['updatecheck'] = 0;	      // Disable update messages

$conf['useacl'] = 1;                  //Use Access Control Lists to restrict access?
$conf['superuser'] = '@admin';

$conf['authtype']    = 'authhttp';    // HTTP Authentication

