<?php

$conf['start']       = 'servers';           //name of start page
$conf['title']       = 'Inventory';        //what to show in the title

$conf['target']['extern']    = '_blank';   // Open external URL in new window

//$conf['useacl']      = 1;                //Use Access Control Lists to restrict access?
//conf['superuser']   = '@admin';


