Alias /web {{ webHtml }}
<Directory {{ webHtml }}>
        Order deny,allow
	Deny from all
	{% for admins in hostsAdmins -%}
	Allow from {{ admins }}/32
	{% endfor %}
	AuthType Basic
	AuthName "Authentication Required"
	AuthUserFile "{{ pathApache }}/.passwdFile"
	Require user admin

        Options None

</Directory>

Alias /restprivate {{ webHtml }}/rest/private
<Directory {{ webHtml }}/rest/private>
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)\?*$ index.php?__route__=/$1 [L,QSA]

        Options FollowSymLinks
</Directory>

Alias /restpublic {{ webHtml }}/rest/public
<Directory {{ webHtml }}/rest/public>
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)\?*$ index.php?__route__=/$1 [L,QSA]

        Options FollowSymLinks
</Directory>
