# Generating SQL for Services of {{ inventory_hostname }}


{% if hostvars[inventory_hostname]["Service"] is defined %}

{% for service in hostvars[inventory_hostname]["Service"] -%}

CHECK_SERVICE_{{ loop.index }}: SELECT * FROM WinService WHERE Server='{{ inventory_hostname }}' AND Name='{{ service["name"] }}' AND Caption='{{ service["caption"] }}' AND ErrorControl='{{ service["errorControl"] }}' AND PathName='{{ service["pathName"] }}' AND ProcessId='{{ service["processId"] }}' AND StartMode='{{ service["startMode"] }}' AND State='{{ service["state"] }}' AND TagId='{{ service["tagId"] }}' AND Auto AND End IS NULL;

UPDATE_SERVICE_{{ loop.index }}: UPDATE WinService SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Name='{{ service["name"] }}' AND Caption='{{ service["caption"] }}' AND ErrorControl='{{ service["errorControl"] }}' AND PathName='{{ service["pathName"] }}' AND ProcessId='{{ service["processId"] }}' AND StartMode='{{ service["startMode"] }}' AND State='{{ service["state"] }}' AND TagId='{{ service["tagId"] }}' AND Auto AND End IS NULL; 

INSERT_SERVICE_{{ loop.index }}: INSERT INTO WinService (Name,Server,Caption,ErrorControl,PathName,ProcessId,StartMode,State,TagId,Init,Checked,Auto) VALUES ('{{ service["name"] }}','{{ inventory_hostname }}', '{{ service["caption"] }}', '{{ service["errorControl"] }}', '{{ service["pathName"] }}', '{{ service["processId"] }}', '{{ service["startMode"] }}', '{{ service["state"] }}', '{{ service["tagId"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_SERVICE: SELECT * from WinService WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_SERVICE: UPDATE WinService SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
