# Generating SQL for winNode {{ inventory_hostname }}

CHECK_WINNODE: SELECT Name FROM Server WHERE Name='{{ inventory_hostname }}' AND Node=2 AND Auto AND End IS NULL ORDER BY Init LIMIT 1; 

UPDATE_WINNODE: UPDATE Server SET Checked=NOW() WHERE Name='{{ inventory_hostname }}' AND Node=2 AND Auto AND End IS NULL ORDER BY Init LIMIT 1;

INSERT_WINNODE: INSERT INTO Server (Name, ShortName, Domain, Init, Checked, Node, Auto) VALUES ('{{ inventory_hostname }}', '{{ hostvars[inventory_hostname]["shortName"] }}', '{{ hostvars[inventory_hostname]["domain"] }}', NOW(), NOW(), 2, 1); 

