# Generating SQL for Drivers of {{ inventory_hostname }}


{% if hostvars[inventory_hostname]["SystemDriver"] is defined %}

{% for driver in hostvars[inventory_hostname]["SystemDriver"] -%}

CHECK_DRIVER_{{ loop.index }}: SELECT * FROM WinDriver WHERE Server='{{ inventory_hostname }}' AND Name='{{ driver["name"] }}' AND Caption='{{ driver["caption"] }}' AND ErrorControl='{{ driver["errorControl"] }}' AND PathName='{{ driver["pathName"] }}' AND ServiceType='{{ driver["serviceType"] }}' AND StartMode='{{ driver["startMode"] }}' AND State='{{ driver["state"] }}' AND TagId='{{ driver["tagId"] }}' AND Auto AND End IS NULL;

UPDATE_DRIVER_{{ loop.index }}: UPDATE WinDriver SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Name='{{ driver["name"] }}' AND Caption='{{ driver["caption"] }}' AND ErrorControl='{{ driver["errorControl"] }}' AND PathName='{{ driver["pathName"] }}' AND ServiceType='{{ driver["serviceType"] }}' AND StartMode='{{ driver["startMode"] }}' AND State='{{ driver["state"] }}' AND TagId='{{ driver["tagId"] }}' AND Auto AND End IS NULL; 

INSERT_DRIVER_{{ loop.index }}: INSERT INTO WinDriver (Name,Server,Caption,ErrorControl,PathName,ServiceType,StartMode,State,TagId,Init,Checked,Auto) VALUES ('{{ driver["name"] }}','{{ inventory_hostname }}', '{{ driver["caption"] }}', '{{ driver["errorControl"] }}', '{{ driver["pathName"] }}', '{{ driver["serviceType"] }}', '{{ driver["startMode"] }}', '{{ driver["state"] }}', '{{ driver["tagId"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_DRIVER: SELECT * from WinDriver WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_DRIVER: UPDATE WinDriver SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
