{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: TCP Wrappers ====

{% if hostvars[inventory_hostname]["tcpwrappers"] is defined -%}
^  DENY (rules)  ^^ 
{% if hostvars[inventory_hostname]["tcpwrappers"]["deny"] is defined -%}
^  Service  ^  Hosts  ^
{% for service in hostvars[inventory_hostname]["tcpwrappers"]["deny"]  -%}
{% for host in service["hosts"] -%}
|  {{ service["service"] if loop.index==1 else ":::" }}  |  {{ host }}  |
{% endfor %}
{% endfor %}
{% endif %}

^  ALLOW (rules)  ^^
{% if hostvars[inventory_hostname]["tcpwrappers"]["allow"] is defined -%}
^  Service  ^  Hosts  ^
{% for service in hostvars[inventory_hostname]["tcpwrappers"]["allow"]  -%}
{% for host in service["hosts"] -%}
|  {{ service["service"] if loop.index==1 else ":::" }}  |  {{ host }}  |
{% endfor %}
{% endfor %}
{% endif %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

