{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: Network Routes ====

{% if hostvars[inventory_hostname]["routes"] is defined -%}
<sortable 1=alpha 2=alpha 3=alpha 4=nosort 5=alpha>
^  Destination  ^  Gateway  ^  Mask  ^  Flags  ^  Interface  ^  
{% for route in hostvars[inventory_hostname]["routes"]  -%}
|  {{ route["destination"] }}  |  {{ route["gateway"] }}  |  {{ route["mask"] }}  |  {{ route["flags"] }}  |  {{ route["interface"] }}  |
{% endfor %}
</sortable>

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

