[[{{ inventory_hostname }}-packages | Back to {{ inventory_hostname }}-packages page]]


==== Server {{ inventory_hostname }}: Packages installed ====

^  Packages  ^^^
^  Name  ^  Version  ^  Size  ^
{% for package in hostvars[inventory_hostname]["packages"] -%}
| {{ package.name }} | {{ package.version }} | {{ "%s" % package.size|filesizeformat if package.size is number else package.size }} ({{ package.size }} bytes) |
{% endfor %}




[[{{ inventory_hostname }}-packages | Back to {{ inventory_hostname }}-packages page]]

