[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: /etc/hosts ====

{% if hostvars[inventory_hostname]["hosts"] is defined -%}
^  /etc/hosts  ^
{% for host in hostvars[inventory_hostname]["hosts"]  -%}
| {{ host["rule"] }} |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

