[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Processor ====

^ Processor type | {{ "%s" % hostvars[inventory_hostname]["ansible_processor"][0] if hostvars[inventory_hostname]["ansible_processor"][0] is defined else "?" }} | 
^ Processor count | {{ "%s" % hostvars[inventory_hostname]["ansible_processor_count"] if hostvars[inventory_hostname]["ansible_processor_count"] is defined else "?" }} |
^ Cores per processor  | {{ "%s" % hostvars[inventory_hostname]["ansible_processor_cores"] if hostvars[inventory_hostname]["ansible_processor_cores"] is defined else "?" }} |
^ Threads per core | {{ "%s" % hostvars[inventory_hostname]["ansible_processor_threads_per_core"] if hostvars[inventory_hostname]["ansible_processor_threads_per_core"] is defined else "?" }} |
^ Total virtual CPUs | {{ "%s" % hostvars[inventory_hostname]["ansible_processor_vcpus"] if hostvars[inventory_hostname]["ansible_processor_vcpus"] is defined else "?" }} |

{% if hostvars[inventory_hostname]["processor"] is defined -%}
{% for proc in hostvars[inventory_hostname]["processor"]|sort -%}
^  Socket Designation: {{ "%s" % proc["Socket Designation"] if proc["Socket Designation"] is defined else "?" }}  ^^ 
^ Type | {{ proc["Type"] }} |
^ Family | {{ proc["Family"] }} |
^ Vendor | {{ proc["Vendor"] }} |
^ Signature | {{ proc["Signature"] }} |
^ ID | {{ proc["ID"] }} |
^ Version | {{ proc["Version"] }} |
^ Voltage | {{ proc["Voltage"] }} |
^ External Clock | {{ proc["External Clock"] }} |
^ Max Speed | {{ proc["Max Speed"] }} |
^ Current Speed | {{ proc["Current Speed"] }} |
^ Status | {{ proc["Status"] }} |
^ Upgrade | {{ proc["Upgrade"] }} |
^ L1 Cache Handle | {{ "[[ %s-caches | %s ]]" % (inventory_hostname,proc["L1 Cache Handle"]) }} |
^ L2 Cache Handle | {{ "[[ %s-caches | %s ]]" % (inventory_hostname,proc["L2 Cache Handle"]) }} |
^ L3 Cache Handle | {{ "[[ %s-caches | %s ]]" % (inventory_hostname,proc["L3 Cache Handle"]) }} |
^ Serial Number | {{ proc["Serial Number"] }} |
{% if proc["Flags"] is defined -%}
^  Characteristics  ^^
{% for char, value in proc["Flags"].iteritems() -%}
^ {{ char|e }} | {{ value|e }} |
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

