{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: Ports ====

^  Ports  ^^
^ TCP & UDP Listenning Ports | [[{{ inventory_hostname }}-portint | {{ "%s TCP ports - %s UDP ports" % (hostvars[inventory_hostname]["tcp"]|count if hostvars[inventory_hostname]["tcp"] is defined else "0",hostvars[inventory_hostname]["udp"]|count if hostvars[inventory_hostname]["udp"] is defined else "0") }} ]] |
^ Last Found (100) | [[ {{ inventory_hostname }}-portslast | Last: {% for i in hostvars[inventory_hostname]["portslast"] -%}{% if loop.first -%}{{ "%s/%s (IP4: %s IP6: %s). Process %s. Found %s" % (i.Protocol,i.Port,"X" if i.IP4 == "1" else "-","X" if i.IP6 == "1" else "-",i.Process,i.Date) }}{% endif -%}{% endfor -%} ]] |
^ TCP Listenning Ports (External Scan) | [[{{ inventory_hostname }}-portsext | List ]] |



[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

