{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Host {{ inventory_hostname }}: Executables with Attributes Modified ====

{% if hostvars[inventory_hostname]['exesattrchanged'] is defined -%}
^  Executables with Attributes Modified  ^^^^
^  Name  ^  Package  ^  Size  ^  Versions  ^ 
{% for exe in hostvars[inventory_hostname]['exesattrchanged'] -%}
| <nowiki>{{ exe.Name }}</nowiki> | <nowiki>{{ exe.Package }}</nowiki> | {{ exe.FileSize }} |  {{ exe.Total }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

