[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Connectors ====

{% if hostvars[inventory_hostname]["connector"] is defined -%}
{% for connector in hostvars[inventory_hostname]["connector"]|sort -%}
^  {{ connector["Internal Reference Designator"] }}  ^^ 
^ Handle | {{ connector["Handle"] }} |
^ Internal Reference Designator | {{ connector["Internal Reference Designator"] }} |
^ Internal Connector Type | {{ connector["Internal Connector Type"] }} |
^ External Reference Designator | {{ connector["External Reference Designator"] }} |
^ External Connector Type | {{ connector["External Connector Type"] }} |
^ Port Type | {{ connector["Port Type"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

