[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Resolver ====

{% if hostvars[inventory_hostname]["resolver"] is defined -%}
^  resolv.conf  ^^
|  domain  |  {{ hostvars[inventory_hostname]["resolver"]["domain"] }}  |
|  search  |  {{ hostvars[inventory_hostname]["resolver"]["search"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns1"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns2"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns3"] }}  |
{% for option in hostvars[inventory_hostname]["resolver"]["options"]  -%}
|  option  |  {{ option }}  |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

