{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: PAM Access ====

{% if hostvars[inventory_hostname]["pamaccess"] is defined -%}

^  PAM Modules ({{ hostvars[inventory_hostname]["pamaccess"]["modules"]|count }})  ^ 
{% for module in hostvars[inventory_hostname]["pamaccess"]["modules"]  -%}
| {{ module }} |
{% endfor %}

^  Rules ({{ hostvars[inventory_hostname]["pamaccess"]["rules"]|count }})  ^^
^  Num  ^  Rule  ^
{% for rule in hostvars[inventory_hostname]["pamaccess"]["rules"]  -%}
|  {{ rule["num"] }}  | {{ rule["rule"] }} |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

