{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: Filesystems ====

{% if hostvars[inventory_hostname]["ansible_mounts"] is defined -%}
^  Filesystems  ^^^^^
^  Name  ^  Type  ^  Mount  ^  Options  ^  Size  ^
{% for fs in hostvars[inventory_hostname]["ansible_mounts"]|sort -%}
| {{ fs.device }} | {{ fs.fstype }} | {{ fs.mount }} | {{ fs.options }} | {{ fs.size_total|filesizeformat if hostvars[inventory_hostname]["ansible_mounts"]["size_total"] is defined else "0" }} |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

