[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables ====

^  Executables  ^^^^^^
^  Name  ^  Package  ^  Size  ^  User  ^  Group  ^  Perms  ^
{% for exe in hostvars[inventory_hostname]["exes"]|sort -%}
| <nowiki>{{ exe.name }}</nowiki> | <nowiki>{{ exe.package }}</nowiki> | {{ exe.size }} |  {{ exe.user }}  |  {{ exe.group }}  |  {{ exe.perms }}  |
{% endfor %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

