[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables found (Last 100) ====

{% if hostvars[inventory_hostname]["exeslast"] is defined -%}
^  Executables Found (Last 100)  ^^^^^^^^
^  Name  ^  Package  ^  Size  ^  User  ^  Group  ^  Perms  ^  Since  ^  Until  ^
{% for exe in hostvars[inventory_hostname]["exeslast"] -%}
| {{ exe.Name }} | {{ exe.Package }} | {{ exe.FileSize }} bytes |  {{ exe.FileUser }}  |  {{ exe.FileGroup }}  | {{ exe.FilePerms }}  |  {{ exe.Date }}  |  {{ "%s" % exe.End if exe.End != "None" else "Now" }}  | 
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

