[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Cache memories ====

{% if hostvars[inventory_hostname]["cache"] is defined -%}
{% for cache in hostvars[inventory_hostname]["cache"]|sort -%}
^  {{ cache["Socket Designation"] }}  ^^ 
^ Handle | {{ cache["Handle"] }} |
^ Level | {{ cache["Level"] }} |
^ Enabled | {{ cache["Enabled"] }} |
^ Operational Mode | {{ cache["Operational Mode"] }} |
^ Location | {{ cache["Location"] }} |
^ Installed Size | {{ cache["Installed Size"] }} |
^ Maximum Size | {{ cache["Maximum Size"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

