[[{{ inventory_hostname }}-packages | Back to {{ inventory_hostname }}-packages page]]


==== Server {{ inventory_hostname }}: Packages installed (Last 100) ====

{% if hostvars[inventory_hostname]["packageslast"] is defined -%}
^  Packages (Last 100)  ^^^^^
^  Name  ^  Version  ^  Size  ^  Since  ^  Until  ^
{% for package in hostvars[inventory_hostname]["packageslast"] -%}
| {{ package.Name }} | {{ package.Version }} | {{ "%s" % package.Size|filesizeformat if package.Size is number else package.Size }} ({{ package.Size }} bytes) |  {{ package.Date }}  |  {{ "%s" % package.End if package.End != "None" else "Now" }}  | 
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-packages | Back to {{ inventory_hostname }}-packages page]]

