[[{{ inventory_hostname }}-ports | Back to {{ inventory_hostname }}-ports page]]


==== Server {{ inventory_hostname }}: Ports Found (last 100) ====

{% if hostvars[inventory_hostname]["portslast"] is defined -%}
^  Ports (Last 100)  ^^^^^^^^^
^  Protocol  ^  Port  ^  IP4  ^  Bind IP4  ^  IP6  ^ Bind IP6  ^  Process  ^  Since  ^  Until  ^
{% for port in hostvars[inventory_hostname]["portslast"] -%}
|  {{ port.Protocol }}  | {{ port.Port }} |  {{ "X" if port.IP4=="1" else "" }}  |  {{ port.BindIP4 }}  |  {{ "X" if port.IP6=="1" else "" }}  |  {{ port.BindIP6 }}  | {{ port.Process }} |  {{ port.Date }}  |  {{ "%s" % port.End if port.End != "None" else "Now" }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-ports | Back to {{ inventory_hostname }}-ports page]]

