[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: PAM Access ====

{% if hostvars[inventory_hostname]["pamaccess"] is defined -%}

^  PAM Modules ({{ hostvars[inventory_hostname]["pamaccess"]["modules"]|count }})  ^ 
{% for module in hostvars[inventory_hostname]["pamaccess"]["modules"]  -%}
| {{ module }} |
{% endfor %}

^  Rules ({{ hostvars[inventory_hostname]["pamaccess"]["rules"]|count }})  ^^
^  Num  ^  Rule  ^
{% for rule in hostvars[inventory_hostname]["pamaccess"]["rules"]  -%}
|  {{ rule["num"] }}  | {{ rule["rule"] }} |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

