[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Network Interfaces ====

{% if hostvars[inventory_hostname]["interfaces"] is defined -%}
^  Network Interfaces  ^^^^^^^^
^  Name  ^  Address (DNS)  ^  Network  ^  Netmask  ^  MAC  ^  Type  ^  Module  ^  Active  ^
{% for interface in hostvars[inventory_hostname]["interfaces"] -%}
| {{ interface.device }} | {{ "%s (%s)" % (interface.address,interface.namedns) if interface.address != "" else "" }} | {{ interface.network }} | {{ interface.netmask }} | {{ interface.macaddress }} | {{ interface.type }} | {{ "%s" % hostvars[inventory_hostname]["ansible_" + interface.device].module if hostvars[inventory_hostname]["ansible_" + interface.device] is defined and hostvars[inventory_hostname]["ansible_" + interface.device].module is defined else " " }} |  {{ "X" if interface.active else " " }}  |
{% endfor %}
{% endif %}



[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

