[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: System ====

{% if hostvars[inventory_hostname]["ansible_architecture"] is defined -%}
^ Arquitecture | {{ hostvars[inventory_hostname]["ansible_architecture"] }} |
{% endif -%}
{% if hostvars[inventory_hostname]["system"] is defined -%}
^ Manufacturer | {{ hostvars[inventory_hostname]["system"]["Manufacturer"] }} | 
^ Product Name | {{ hostvars[inventory_hostname]["system"]["Product Name"] }} |
^ Version | {{ hostvars[inventory_hostname]["system"]["Version"] }} |
^ Serial Number | {{ hostvars[inventory_hostname]["system"]["Serial Number"] }} |
^ UUID | {{ hostvars[inventory_hostname]["system"]["UUID"] }} |
^ Wake-Up Type | {{ hostvars[inventory_hostname]["system"]["Wake-Up Type"] }} |
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

