[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Memory ====

^ Total Memory | {{ "%s MB" % hostvars[inventory_hostname]["ansible_memtotal_mb"] if hostvars[inventory_hostname]["ansible_memtotal_mb"] is defined else "?" }} |
{% if hostvars[inventory_hostname]["memory"] is defined -%}
^ Maximum Memory Module Size | {{ "%s" % hostvars[inventory_hostname]["memory"]["Maximum Memory Module Size"] if hostvars[inventory_hostname]["memory"]["Maximum Memory Module Size"] is defined else "?" }} |
^ Number Of Arrays | {{ "%s" % hostvars[inventory_hostname]["memory"]["arrays"]|count if hostvars[inventory_hostname]["memory"]["arrays"] is defined else "?" }} |
^ Number Of Slots | {{ "%s" % hostvars[inventory_hostname]["memory"]["slots"]|count if hostvars[inventory_hostname]["memory"]["slots"] is defined else "?" }} |

{% if hostvars[inventory_hostname]["memory"]["arrays"] is defined -%}
{% for array in hostvars[inventory_hostname]["memory"]["arrays"]|sort -%}
^  ARRAY: {{ array["Handle"] }}  ^^
^ Handle | {{ array["Handle"] }} |
^ Location | {{ array["Location"] }} |
^ Use | {{ array["Use"] }} |
^ Error Correction Type | {{ array["Error Correction Type"] }} |
^ Maximum Capacity | {{ array["Maximum Capacity"] }} |
^ Number Of Devices | {{ array["Number Of Devices"] }} |

{% endfor %}
{% endif %}


{% if hostvars[inventory_hostname]["memory"]["slots"] is defined -%}
{% for slot in hostvars[inventory_hostname]["memory"]["slots"]|sort -%}
^  SLOT: {{ slot["Locator"] }}  ^^ 
^ Handle | {{ slot["Handle"] }} |
^ Locator | {{ slot["Locator"] }} |
^ Array | {{ slot["Array"] }} |
^ Bank Locator | {{ slot["Bank Locator"] }} |
^ Size | {{ slot["Size"] }} |
^ Speed | {{ slot["Speed"] }} |
^ Type | {{ slot["Type"] }} |

{% endfor %}
{% endif %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

