[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Filesystems ====

{% if hostvars[inventory_hostname]["ansible_mounts"] is defined -%}
^  Filesystems  ^^^^^
^  Name  ^  Type  ^  Mount  ^  Options  ^  Size  ^
{% for fs in hostvars[inventory_hostname]["ansible_mounts"]|sort -%}
| {{ fs.device }} | {{ fs.fstype }} | {{ fs.mount }} | {{ fs.options }} | {{ fs.size_total|filesizeformat if hostvars[inventory_hostname]["ansible_mounts"]["size_total"] is defined else "0" }} |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

