{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: Sudoers ====

{% if hostvars[inventory_hostname]["sudoers"] is defined -%}
^  Defaults  ^
{% for default in hostvars[inventory_hostname]["sudoers"]["defaults"]  -%}
| {{ default["rule"] }} |
{% endfor %}

{% for type in ['userAlias','runasAlias','hostAlias','cmndAlias'] -%}
^  {{ type }}  ^
{% for rule in hostvars[inventory_hostname]["sudoers"][type]  -%}
| {{ rule["rule"] }} |
{% endfor %}

{% endfor %}

^  User Specifications  ^
{% for spec in hostvars[inventory_hostname]["sudoers"]["userSpec"]  -%}
| {{ spec["rule"] }} |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

