{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Host {{ inventory_hostname }}: Resolver ====

{% if hostvars[inventory_hostname]["resolver"] is defined -%}
^  resolv.conf  ^^
|  domain  |  {{ hostvars[inventory_hostname]["resolver"]["domain"] }}  |
|  search  |  {{ hostvars[inventory_hostname]["resolver"]["search"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns1"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns2"] }}  |
|  nameserver  |  {{ hostvars[inventory_hostname]["resolver"]["ns3"] }}  |
{% for option in hostvars[inventory_hostname]["resolver"]["options"]  -%}
|  option  |  {{ option }}  |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

