[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Modules loaded ====

{% if hostvars[inventory_hostname]["module"] is defined -%}
{% for module in hostvars[inventory_hostname]["module"] -%}
^  {{ module["name"] }}  ^^ 
^ Filename | {{ module["filename"] }} |
^ Author | {{ module["author"] }} |
^ Description | {{ module["description"] }} |
^ License | {{ module["license"] }} |
^ Version | {{ module["version"] }} |
^ Version Magic | {{ module["vermagic"] }} |
^ Src Version | {{ module["srcversion"] }} |
^ Depends | {{ module["depends"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

