[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables with no package ====

{% if hostvars[inventory_hostname]["exesnopackage"] is defined -%}
^  Executables with no package  ^^^^^^
^  Name  ^  Size  ^  User  ^  Group  ^  Perms  ^  Since  ^
{% for exe in hostvars[inventory_hostname]["exesnopackage"]|sort -%}
| {{ exe.Name }} | {{ exe.FileSize }} bytes |  {{ exe.FileUser }}  |  {{ exe.FileGroup }}  |  {{ exe.FilePerms }}  |  {{ exe.Date }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

