[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables Modified ====

{% if hostvars[inventory_hostname]['exeschanged'] is defined -%}
^  Executables Modified  ^^^
^  Name  ^  Package  ^  Versions  ^ 
{% for exe in hostvars[inventory_hostname]['exeschanged'] -%}
| <nowiki>{{ exe.Name }}</nowiki> | <nowiki>{{ exe.Package }}</nowiki> |  {{ exe.Total }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

