[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Chassis ====

{% if hostvars[inventory_hostname]["chassis"] is defined -%}
^ Manufacturer | {{ "%s" % hostvars[inventory_hostname]["chassis"]["Manufacturer"] if hostvars[inventory_hostname]["chassis"]["Manufacturer"] is defined else " " }} | 
^ Type | {{ "%s" % hostvars[inventory_hostname]["chassis"]["Type"] if hostvars[inventory_hostname]["chassis"]["Type"] is defined else " " }} |
^ Version | {{ "%s" % hostvars[inventory_hostname]["chassis"]["Version"] if hostvars[inventory_hostname]["chassis"]["Version"] is defined else " " }} |
^ Serial Number | {{ "%s" % hostvars[inventory_hostname]["chassis"]["Serial Number"] if hostvars[inventory_hostname]["chassis"]["Serial Number"] is defined else " " }} |
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

