[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Sudoers ====

{% if hostvars[inventory_hostname]["sudoers"] is defined -%}
^  Defaults  ^
{% for default in hostvars[inventory_hostname]["sudoers"]["defaults"]  -%}
| {{ default["rule"] }} |
{% endfor %}

{% for type in ['userAlias','runasAlias','hostAlias','cmndAlias'] -%}
^  {{ type }}  ^
{% for rule in hostvars[inventory_hostname]["sudoers"][type]  -%}
| {{ rule["rule"] }} |
{% endfor %}

{% endfor %}

^  User Specifications  ^
{% for spec in hostvars[inventory_hostname]["sudoers"]["userSpec"]  -%}
| {{ spec["rule"] }} |
{% endfor %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

