[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: IPTables ====

{% if hostvars[inventory_hostname]["iptables"] is defined -%}
{% for table in hostvars[inventory_hostname]["iptables"]|sort -%}
^  Table: {{ table["table"] }}  ^^ 
{% for chain in table["policies"]  -%}
^  Chain: {{ chain["chain"] }} (policy {{ chain["policy"] }})  ^^
{% if chain["rules"]|count > 0 -%}
^  Num  ^  Rule  ^ 
{% for rule in chain["rules"] -%}
^ {{ rule["num"] }} | {{ rule["rule"] }} |
{% endfor %}
{% endif %}

{% endfor %}
{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

