[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Packages ====

^  Packages  ^^
^ Package Manager | {{ "%s" % hostvars[inventory_hostname]["ansible_pkg_mgr"] if hostvars[inventory_hostname]["ansible_pkg_mgr"] is defined else "?" }} |
^ Total List | [[{{ inventory_hostname }}-packagestotal | {{ "%s" % hostvars[inventory_hostname]["packages"]|count if hostvars[inventory_hostname]["packages"] is defined else "?" }} packages ]] |
^ Last Installed (100) | [[ {{ inventory_hostname }}-packageslast | Last: {% for i in hostvars[inventory_hostname]["packageslast"] -%}{% if loop.first -%}{{ "%s (%s) %s" % (i.Name,i.Version,i.Date) }}{% endif -%}{% endfor -%} ]] |



[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

