[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Slots ====

{% if hostvars[inventory_hostname]["slot"] is defined -%}
{% for slot in hostvars[inventory_hostname]["slot"]|sort -%}
^  {{ slot["Designation"] }}  ^^ 
^ Handle | {{ slot["Handle"] }} |
^ Designation | {{ slot["Designation"] }} |
^ Type SlotType | {{ slot["Type SlotType"] }} |
^ Type SlotBusWidth | {{ slot["Type SlotBusWidth"] }} |
^ Current Usage | {{ slot["Current Usage"] }} |
^ SlotId | {{ slot["SlotId"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

