[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables with SETGID ====

{% if hostvars[inventory_hostname]["exessetgid"] is defined -%}
^  Executables with SETGID  ^^^^^^^
^  Name  ^  Package  ^  Size  ^  User  ^  Group  ^  Perms  ^  Since  ^
{% for exe in hostvars[inventory_hostname]["exessetgid"]|sort -%}
| {{ exe.Name }} | {{ exe.Package }} | {{ exe.FileSize }} bytes |  {{ exe.FileUser }}  |  {{ exe.FileGroup }}  |  {{ exe.FilePerms }}  |  {{ exe.Date }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

