[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Bios ====

{% if hostvars[inventory_hostname]["bios"] is defined -%}
^ Vendor | {{ "%s" % hostvars[inventory_hostname]["bios"]["Vendor"] if hostvars[inventory_hostname]["bios"]["Vendor"] is defined else " " }} | 
^ Release Date | {{ "%s" % hostvars[inventory_hostname]["bios"]["Release Date"] if hostvars[inventory_hostname]["bios"]["Release Date"] is defined else " " }} |
^ Version | {{ "%s" % hostvars[inventory_hostname]["bios"]["Version"] if hostvars[inventory_hostname]["bios"]["Version"] is defined else " " }} |
^ ROM Size | {{ "%s" % hostvars[inventory_hostname]["bios"]["ROM Size"] if hostvars[inventory_hostname]["bios"]["ROM Size"] is defined else " " }} |
^ Runtime Size | {{ "%s" % hostvars[inventory_hostname]["bios"]["Runtime Size"] if hostvars[inventory_hostname]["bios"]["Runtime Size"] is defined else " " }} |

{% if hostvars[inventory_hostname]["bios"]["Characteristics"] is defined -%}
^  Characteristics  ^^
{% for char, value in hostvars[inventory_hostname]["bios"]["Characteristics"].iteritems() -%}
^ {{ char|e }} | {{ value|e }} |
{% endfor %}
{% endif %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

