[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Crontab ====

{% if hostvars[inventory_hostname]["crontabs"] is defined -%}
{% for cron in hostvars[inventory_hostname]["crontabs"] -%}
^  {{ cron["num"] }}  ^^ 
^ User | {{ cron["user"] }} |
^ Minute | {{ cron["minute"] }} |
^ Hour | {{ cron["hour"] }} |
^ Day | {{ cron["day"] }} |
^ Month | {{ cron["month"] }} |
^ Day Week | {{ cron["dayWeek"] }} |
^ Command | {{ cron["command"] }} |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

