[[{{ inventory_hostname }}-ports | Back to {{ inventory_hostname }}-ports page]]


==== Server {{ inventory_hostname }}: TCP  & UDP Listenning Ports (Internal Scan) ====

{% if hostvars[inventory_hostname]["tcp"] is defined -%}
^  TCP Listenning Ports  ^^^^^^
^  Port  ^  IP4  ^  Bind IP4  ^  IP6  ^  Bind IP6  ^  Process  ^
{% for portTCP in hostvars[inventory_hostname]["tcp"] -%}
|  {{ portTCP.port }}  |  {{ "X" if portTCP.ip4=="1" else "" }}  |  {{ portTCP.bindIP4 }}  |  {{ "X" if portTCP.ip6=="1" else "" }}  |  {{ portTCP.bindIP6 }}  | {{ portTCP.process }} |
{% endfor %}
{% endif %}


{% if hostvars[inventory_hostname]["udp"] is defined -%}
^  UDP Listenning Ports  ^^^^^^
^  Port  ^  IP4  ^  Bind IP4  ^  IP6  ^  Bind IP6  ^  Process  ^
{% for portUDP in hostvars[inventory_hostname]["udp"] -%}
|  {{ portUDP.port }}  |  {{ "X" if portUDP.ip4=="1" else "" }}  |  {{ portUDP.bindIP4 }}  |  {{ "X" if portUDP.ip6=="1" else "" }}  |  {{ portUDP.bindIP6 }}  | {{ portUDP.process }} |
{% endfor %}
{% endif %}



[[{{ inventory_hostname }}-ports | Back to {{ inventory_hostname }}-ports page]]

