[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: TCP Wrappers ====

{% if hostvars[inventory_hostname]["tcpwrappers"] is defined -%}
^  DENY (rules)  ^^ 
{% if hostvars[inventory_hostname]["tcpwrappers"]["deny"] is defined -%}
^  Service  ^  Hosts  ^
{% for service in hostvars[inventory_hostname]["tcpwrappers"]["deny"]  -%}
{% for host in service["hosts"] -%}
|  {{ service["service"] if loop.index==1 else ":::" }}  |  {{ host }}  |
{% endfor %}
{% endfor %}
{% endif %}

^  ALLOW (rules)  ^^
{% if hostvars[inventory_hostname]["tcpwrappers"]["allow"] is defined -%}
^  Service  ^  Hosts  ^
{% for service in hostvars[inventory_hostname]["tcpwrappers"]["allow"]  -%}
{% for host in service["hosts"] -%}
|  {{ service["service"] if loop.index==1 else ":::" }}  |  {{ host }}  |
{% endfor %}
{% endfor %}
{% endif %}

{% endif %}

[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

