[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]


==== Server {{ inventory_hostname }}: Baseboard ====

{% if hostvars[inventory_hostname]["baseboard"] is defined -%}

{% for board in hostvars[inventory_hostname]["baseboard"]|sort -%}
^  BASEBOARD: {{ board["Product Name"] }}  ^^
^ Handle | {{ board["Handle"] }} |
^ Manufacturer | {{ board["Manufacturer"] }} | 
^ Product Name | {{ board["Product Name"] }} |
^ Version | {{ board["Version"] }} |
^ Serial Number | {{ board["Serial Number"] }} |

{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname]["baseboarddevice"] is defined -%}

{% for device in hostvars[inventory_hostname]["baseboarddevice"]|sort -%}
^  DEVICE: {{ device["Description"] }}  ^^
^ Handle | {{ device["Handle"] }} |
^ Type | {{ device["Type"] }} |
^ Description | {{ device["Description"] }} |
^ Enabled |  {{ "X" if device["Enabled"]=="true" else " " }}  |

{% endfor %}
{% endif %}




[[{{ inventory_hostname }} | Back to {{ inventory_hostname }} page]]

