[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Server {{ inventory_hostname }}: Executables with Attributes Modified ====

{% if hostvars[inventory_hostname]['exesattrchanged'] is defined -%}
^  Executables with Attributes Modified  ^^^^
^  Name  ^  Package  ^  Size  ^  Versions  ^ 
{% for exe in hostvars[inventory_hostname]['exesattrchanged'] -%}
| <nowiki>{{ exe.Name }}</nowiki> | <nowiki>{{ exe.Package }}</nowiki> | {{ exe.FileSize }} |  {{ exe.Total }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

