{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]


==== Host {{ inventory_hostname }}: Executables with SETGID ====

{% if hostvars[inventory_hostname]["exessetgid"] is defined -%}
^  Executables with SETGID  ^^^^^^^
^  Name  ^  Package  ^  Size  ^  User  ^  Group  ^  Perms  ^  Since  ^
{% for exe in hostvars[inventory_hostname]["exessetgid"]|sort -%}
| {{ exe.Name }} | {{ exe.Package }} | {{ exe.FileSize }} bytes |  {{ exe.FileUser }}  |  {{ exe.FileGroup }}  |  {{ exe.FilePerms }}  |  {{ exe.Date }}  |
{% endfor %}
{% endif %}




[[{{ inventory_hostname }}-exes | Back to {{ inventory_hostname }}-exes page]]

