# TCP ports
{% for portTCP in tcp -%}
# Checking TCP port {{ portTCP.port }} ( process: {{ portTCP.process }} )  
command[check_portTCP_{{ portTCP.port }}]={{ pluginsPathNagiosNrpe|default('/usr/lib/nagios/plugins') }}/check_listen_tcp_udp.sh -P tcp -p {{ portTCP.port }}

{% endfor %}

{% if udp is defined -%}
# UDP ports
{% for portUDP in udp -%}
# Checking UDP port {{ portUDP.port }} ( process: {{ portUDP.process }} )
command[check_portUDP_{{ portUDP.port }}]={{ pluginsPathNagiosNrpe|default('/usr/lib/nagios/plugins') }}/check_listen_tcp_udp.sh -P udp -p {{ portUDP.port }}

{% endfor %}
{% endif %}
