<html>
<head>
</head>
<body style="background:#A4BBC7">

<div align="center">
<H1>MONITORING SYSTEM</H1>
<table border='0' col='2' cellpadding='10'>
<tr>
<td>Nagios</td>
<td><a href="https://{{ hostnameNagios }}/nagios" target="_blank">https://{{ hostnameNagios }}/nagios</a></td>
</tr>
<tr>
<td>Munin</td>
<td><a href="https://{{ hostnameMunin }}/munin" target="_blank">https://{{ hostnameMunin }}/munin</a></td>
</tr>
<tr>
<td>Wiki</td>
<td><a href="https://{{ hostnameWeb }}/wiki" target="_blank">https://{{ hostnameWeb }}/wiki</a></td>
</tr>
<tr>
<td>Web</td>
<td><a href="https://{{ hostnameWeb }}/web" target="_blank">https://{{ hostnameWeb }}/web</a></td>
</tr>
<tr>
<td>Openvas</td>
<td><a href="https://{{ hostnameOpenvas }}:9392" target="_blank">https://{{ hostnameOpenvas }}:9392</a></td>
</tr>
<td>PhpMyAdmin</td>
<td><a href="https://{{ hostnameWeb }}/phpmyadmin" target="_blank">https://{{ hostnameWeb }}/phpmyadmin</a></td>
</tr>
<tr>
<td>Help</td>
<td><a href="https://{{ inventory_hostname }}/help" target="_blank">https://{{ inventory_hostname }}/help</a></td>
</tr>
</table>
</div>

</body>
</html>
