# Generating SQL for Packages of {{ inventory_hostname }}

{% for package in hostvars[inventory_hostname]["packages"] -%}

CHECK_PACKAGE_{{ loop.index }}: SELECT * FROM Package WHERE Server='{{ inventory_hostname }}' AND Name='{{ package["name"] }}' AND Version='{{ package["version"] }}' AND Size='{{ package["size"] }}' AND Auto AND End IS NULL;

UPDATE_PACKAGE_{{ loop.index }}: UPDATE Package SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Name='{{ package["name"] }}' AND Version='{{ package["version"] }}' AND Size='{{ package["size"] }}' AND Auto AND End IS NULL;

INSERT_PACKAGE_{{ loop.index }}: INSERT INTO Package (Name,Version,Server,Size,Init,Checked,Auto) VALUES ('{{ package["name"] }}', '{{ package["version"] }}', '{{ inventory_hostname }}', '{{ package["size"] }}', NOW(), NOW(), 1);

{% endfor %}

END-CHECK_PACKAGES: SELECT * from Package WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PACKAGES: UPDATE Package SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
