# Generating SQL for Baseboard Devices of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["baseboarddevice"] is defined %}

{% for device in hostvars[inventory_hostname]["baseboarddevice"] -%}

CHECK_BASEBOARDDEV_{{ loop.index }}: SELECT * FROM BaseboardDevice WHERE Server='{{ inventory_hostname }}' AND Handle='{{ device["Handle"] }}' AND Type='{{ device["Type"] }}' AND Description='{{ device["Description"] }}' AND Enabled='{{ 1 if device["Enabled"]=="True" else 0 }}' AND Auto AND End IS NULL;

UPDATE_BASEBOARDDEV_{{ loop.index }}: UPDATE BaseboardDevice SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ device["Handle"] }}' AND Type='{{ device["Type"] }}' AND Description='{{ device["Description"] }}' AND Enabled='{{ 1 if device["Enabled"]=="True" else 0 }}' AND Auto AND End IS NULL; 

INSERT_BASEBOARDDEV_{{ loop.index }}: INSERT INTO BaseboardDevice (Handle,Server,Type,Description,Enabled,Init,Checked,Auto) VALUES ('{{ device["Handle"] }}','{{ inventory_hostname }}', '{{ device["Type"] }}', '{{ device["Description"] }}', '{{ 1 if device["Enabled"]=="True" else 0 }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_BASEBOARDDEV: SELECT * from BaseboardDevice WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_BASEBOARDDEV: UPDATE BaseboardDevice SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
