# Generating SQL for Slots of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["slot"] is defined %}

{% for slot in hostvars[inventory_hostname]["slot"] -%}

CHECK_SLOT_{{ loop.index }}: SELECT * FROM Slot WHERE Server='{{ inventory_hostname }}' AND Handle='{{ slot["Handle"] }}' AND Designation='{{ slot["Designation"] }}' AND SlotType='{{ slot["Type SlotType"] }}' AND SlotBusWidth='{{ slot["Type SlotBusWidth"] }}' AND CurrentUsage='{{ slot["Current Usage"] }}' AND SlotLength='{{ slot["SlotLength"] }}' AND SlotId='{{ slot["SlotId"] }}' AND Auto AND End IS NULL;

UPDATE_SLOT_{{ loop.index }}: UPDATE Slot SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ slot["Handle"] }}' AND Designation='{{ slot["Designation"] }}' AND SlotType='{{ slot["Type SlotType"] }}' AND SlotBusWidth='{{ slot["Type SlotBusWidth"] }}' AND CurrentUsage='{{ slot["Current Usage"] }}' AND SlotLength='{{ slot["SlotLength"] }}' AND SlotId='{{ slot["SlotId"] }}' AND Auto AND End IS NULL; 

INSERT_SLOT_{{ loop.index }}: INSERT INTO Slot (Handle,Server,Designation,SlotType,SlotBusWidth,CurrentUsage,SlotLength,SlotId,Init,Checked,Auto) VALUES ('{{ slot["Handle"] }}','{{ inventory_hostname }}', '{{ slot["Designation"] }}', '{{ slot["Type SlotType"] }}', '{{ slot["Type SlotBusWidth"] }}', '{{ slot["Current Usage"] }}', '{{ slot["SlotLength"] }}', '{{ slot["SlotId"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_SLOT: SELECT * from Slot WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_SLOT: UPDATE Slot SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
