# Generating SQL for Processors of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["processor"] is defined %}

{% for proc in hostvars[inventory_hostname]["processor"] -%}
{% set proc_loop = loop -%}
CHECK_PROC_{{ loop.index }}: SELECT * FROM Processor WHERE Server='{{ inventory_hostname }}' AND Socket='{{ proc["Socket Designation"] }}' AND Type='{{ proc["Type"] }}' AND Family='{{ proc["Family"] }}' AND Vendor='{{ proc["Vendor"] }}' AND Signature='{{ proc["Signature"] }}' AND ID='{{ proc["ID"] }}' AND Version='{{ proc["Version"] }}' AND Voltage='{{ proc["Voltage"] }}' AND ExternalClock='{{ proc["External Clock"] }}' AND MaxSpeed='{{ proc["Max Speed"] }}' AND CurrentSpeed='{{ proc["Current Speed"] }}' AND Status='{{ proc["Status"] }}' AND Upgrade='{{ proc["Upgrade"] }}' AND L1Cache='{{ proc["L1 Cache Handle"] }}' AND L2Cache='{{ proc["L2 Cache Handle"] }}' AND L3Cache='{{ proc["L3 Cache Handle"] }}' AND SerialNumber='{{ proc["Serial Number"] }}' AND Auto AND End IS NULL;

UPDATE_PROC_{{ loop.index }}: UPDATE Processor SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Socket='{{ proc["Socket Designation"] }}' AND Type='{{ proc["Type"] }}' AND Family='{{ proc["Family"] }}' AND Vendor='{{ proc["Vendor"] }}' AND Signature='{{ proc["Signature"] }}' AND ID='{{ proc["ID"] }}' AND Version='{{ proc["Version"] }}' AND Voltage='{{ proc["Voltage"] }}' AND ExternalClock='{{ proc["External Clock"] }}' AND MaxSpeed='{{ proc["Max Speed"] }}' AND CurrentSpeed='{{ proc["Current Speed"] }}' AND Status='{{ proc["Status"] }}' AND Upgrade='{{ proc["Upgrade"] }}' AND L1Cache='{{ proc["L1 Cache Handle"] }}' AND L2Cache='{{ proc["L2 Cache Handle"] }}' AND L3Cache='{{ proc["L3 Cache Handle"] }}' AND SerialNumber='{{ proc["Serial Number"] }}' AND Auto AND End IS NULL; 

INSERT_PROC_{{ loop.index }}: INSERT INTO Processor (Socket,Server,Type,Family,Vendor,Signature,ID,Version,Voltage,ExternalClock,MaxSpeed,CurrentSpeed,Status,Upgrade,L1Cache,L2Cache,L3Cache,SerialNumber,Init,Checked,Auto) VALUES ('{{ proc["Socket Designation"] }}','{{ inventory_hostname }}', '{{ proc["Type"] }}', '{{ proc["Family"] }}', '{{ proc["Vendor"] }}', '{{ proc["Signature"] }}', '{{ proc["ID"] }}', '{{ proc["Version"] }}', '{{ proc["Voltage"] }}', '{{ proc["External Clock"] }}', '{{ proc["Max Speed"] }}', '{{ proc["Current Speed"] }}', '{{ proc["Status"] }}', '{{ proc["Upgrade"] }}', '{{ proc["L1 Cache Handle"] }}', '{{ proc["L2 Cache Handle"] }}', '{{ proc["L3 Cache Handle"] }}', '{{ proc["Serial Number"] }}', NOW(), NOW(), 1);

{% if proc["Flags"] is defined -%}

{% for kprocflag, vprocflag in proc["Flags"].iteritems() -%}

CHECK_PROCFLAG_{{ proc_loop.index }}_{{ loop.index }}: SELECT * FROM ProcessorFlag WHERE Server='{{ inventory_hostname }}' AND Socket='{{ proc["Socket Designation"] }}' AND Flag='{{ kprocflag|e }}' AND Value='{{ vprocflag|e }}' AND Auto AND End IS NULL;

UPDATE_PROCFLAG_{{ proc_loop.index }}_{{ loop.index }}: UPDATE ProcessorFlag SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Socket='{{ proc["Socket Designation"] }}' AND Flag='{{ kprocflag|e }}' AND Value='{{ vprocflag|e }}' AND Auto AND End IS NULL;

INSERT_PROCFLAG_{{ proc_loop.index }}_{{ loop.index }}: INSERT INTO ProcessorFlag (Flag,Server,Socket,Value,Init,Checked,Auto) VALUES ('{{ kprocflag|e }}','{{ inventory_hostname }}', '{{ proc["Socket Designation"] }}', '{{ vprocflag|e }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}

{% endfor %}

{% endif %}

END-CHECK_PROC: SELECT * from Processor WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PROC: UPDATE Processor SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

END-CHECK_PROCFLAG: SELECT * from ProcessorFlag WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PROCFLAG: UPDATE ProcessorFlag SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
