# Generating SQL for Network Routes of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["routes"] is defined %}

{% for route in hostvars[inventory_hostname]["routes"] -%}

CHECK_ROUTE_{{ loop.index }}: SELECT * FROM Route WHERE Server='{{ inventory_hostname }}' AND Num='{{ route["num"] }}' AND Destination='{{ route["destination"] }}' AND Mask='{{ route["mask"] }}' AND Gateway='{{ route["gateway"] }}' AND Flags='{{ route["flags"] }}' AND Interface='{{ route["interface"] }}' AND Auto AND End IS NULL;

UPDATE_ROUTE_{{ loop.index }}: UPDATE Route SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Num='{{ route["num"] }}' AND Destination='{{ route["destination"] }}' AND Mask='{{ route["mask"] }}' AND Gateway='{{ route["gateway"] }}' AND Flags='{{ route["flags"] }}' AND Interface='{{ route["interface"] }}' AND Auto AND End IS NULL; 

INSERT_ROUTE_{{ loop.index }}: INSERT INTO Route (Num,Server,Destination,Mask,Gateway,Flags,Interface,Init,Checked,Auto) VALUES ('{{ route["num"] }}','{{ inventory_hostname }}', '{{ route["destination"] }}', '{{ route["mask"] }}', '{{ route["gateway"] }}', '{{ route["flags"] }}', '{{ route["interface"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_ROUTE: SELECT * from Route WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_ROUTE: UPDATE Route SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
