# Generating SQL for Baseboards of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["baseboard"] is defined %}

{% for board in hostvars[inventory_hostname]["baseboard"] -%}

CHECK_BASEBOARD_{{ loop.index }}: SELECT * FROM Baseboard WHERE Server='{{ inventory_hostname }}' AND Handle='{{ board["Handle"] }}' AND Manufacturer='{{ board["Manufacturer"] }}' AND ProductName='{{ board["Product Name"] }}' AND Version='{{ board["Version"] }}' AND SerialNumber='{{ board["Serial Number"] }}' AND Auto AND End IS NULL;

UPDATE_BASEBOARD_{{ loop.index }}: UPDATE Baseboard SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ board["Handle"] }}' AND Manufacturer='{{ board["Manufacturer"] }}' AND ProductName='{{ board["Product Name"] }}' AND Version='{{ board["Version"] }}' AND SerialNumber='{{ board["Serial Number"] }}' AND Auto AND End IS NULL; 

INSERT_BASEBOARD_{{ loop.index }}: INSERT INTO Baseboard (Handle,Server,Manufacturer,ProductName,Version,SerialNumber,Init,Checked,Auto) VALUES ('{{ board["Handle"] }}','{{ inventory_hostname }}', '{{ board["Manufacturer"] }}', '{{ board["Product Name"] }}', '{{ board["Version"] }}', '{{ board["Serial Number"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_BASEBOARD: SELECT * from Baseboard WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_BASEBOARD: UPDATE Baseboard SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
