# Generating SQL for Caches of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["cache"] is defined %}

{% for cache in hostvars[inventory_hostname]["cache"] -%}

CHECK_CACHE_{{ cache["Handle"] }}: SELECT * FROM Cache WHERE Server='{{ inventory_hostname }}' AND Handle='{{ cache["Handle"] }}' AND Designation='{{ cache["Socket Designation"] }}' AND Level='{{ cache["Level"] }}' AND Enabled='{{ cache["Enabled"] }}' AND Mode='{{ cache["Operational Mode"] }}' AND Location='{{ cache["Location"] }}' AND InstSize='{{ cache["Installed Size"] }}' AND MaxSize='{{ cache["Maximum Size"] }}' AND Auto AND End IS NULL;

UPDATE_CACHE_{{ cache["Handle"] }}: UPDATE Cache SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ cache["Handle"] }}' AND Designation='{{ cache["Socket Designation"] }}' AND Level='{{ cache["Level"] }}' AND Enabled='{{ cache["Enabled"] }}' AND Mode='{{ cache["Operational Mode"] }}' AND Location='{{ cache["Location"] }}' AND InstSize='{{ cache["Installed Size"] }}' AND MaxSize='{{ cache["Maximum Size"] }}' AND Auto AND End IS NULL;

INSERT_CACHE_{{ cache["Handle"] }}: INSERT INTO Cache (Handle,Server,Designation,Level,Enabled,Mode,Location,InstSize,MaxSize,Init,Checked,Auto) VALUES ('{{ cache["Handle"] }}','{{ inventory_hostname }}', '{{ cache["Socket Designation"] }}', '{{ cache["Level"] }}', '{{ cache["Enabled"] }}', '{{ cache["Operational Mode"] }}', '{{ cache["Location"] }}', '{{ cache["Installed Size"] }}', '{{ cache["Maximum Size"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_CACHE: SELECT * from Cache WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_CACHE: UPDATE Cache SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
