{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <epsms at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
# Generating SQL for TCP Wrappers of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["pamaccess"] is defined %}

{% for module in hostvars[inventory_hostname]["pamaccess"]["modules"] -%}

CHECK_PAMACCESSMODULE_{{ loop.index }}: SELECT * FROM PAMAccessModule WHERE Server='{{ inventory_hostname }}' AND Module='{{ module }}' AND Auto AND End IS NULL;

UPDATE_PAMACCESSMODULE_{{ loop.index }}: UPDATE PAMAccessModule SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Module='{{ module }}' AND Auto AND End IS NULL; 

INSERT_PAMACCESSMODULE_{{ loop.index }}: INSERT INTO PAMAccessModule (Module,Server,Init,Checked,Auto) VALUES ('{{ module }}', '{{ inventory_hostname }}', NOW(), NOW(), 1);

{% endfor %}

{% for rule in hostvars[inventory_hostname]["pamaccess"]["rules"] -%}

CHECK_PAMACCESSRULE_{{ loop.index }}: SELECT * FROM PAMAccessRule WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND Rule='{{ rule["rule"] }}' AND Type='{{ rule["type"] }}' AND Auto AND End IS NULL;

UPDATE_PAMACCESSRULE_{{ loop.index }}: UPDATE PAMAccessRule SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND Rule='{{ rule["rule"] }}' AND Type='{{ rule["type"] }}' AND Auto AND End IS NULL;

INSERT_PAMACCESSRULE_{{ loop.index }}: INSERT INTO PAMAccessRule (Num,Rule,Type,Server,Init,Checked,Auto) VALUES ('{{ rule["num"] }}', '{{ rule["rule"] }}', '{{ rule["type"] }}', '{{ inventory_hostname }}', NOW(), NOW(), 1);

{% for user in rule["users"] -%}

CHECK_PAMACCESSRULEUSER_{{ rule["num"] }}_{{ loop.index }}: SELECT * FROM PAMAccessRuleUser WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND User='{{ user }}' AND Auto AND End IS NULL;

UPDATE_PAMACCESSRULEUSER_{{ rule["num"] }}_{{ loop.index }}: UPDATE PAMAccessRuleUser SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND User='{{ user }}' AND Auto AND End IS NULL;

INSERT_PAMACCESSRULEUSER_{{ rule["num"] }}_{{ loop.index }}: INSERT INTO PAMAccessRuleUser (Num,User,Server,Init,Checked,Auto) VALUES ('{{ rule["num"] }}', '{{ user }}', '{{ inventory_hostname }}', NOW(), NOW(), 1);

{% endfor %}

{% for origin in rule["origins"] -%}

CHECK_PAMACCESSRULEORIGIN_{{ rule["num"] }}_{{ loop.index }}: SELECT * FROM PAMAccessRuleOrigin WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND Origin='{{ origin }}' AND Auto AND End IS NULL;

UPDATE_PAMACCESSRULEORIGIN_{{ rule["num"] }}_{{ loop.index }}: UPDATE PAMAccessRuleOrigin SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Num='{{ rule["num"] }}' AND Origin='{{ origin }}' AND Auto AND End IS NULL;

INSERT_PAMACCESSRULEORIGIN_{{ rule["num"] }}_{{ loop.index }}: INSERT INTO PAMAccessRuleOrigin (Num,Origin,Server,Init,Checked,Auto) VALUES ('{{ rule["num"] }}', '{{ origin }}', '{{ inventory_hostname }}', NOW(), NOW(), 1);

{% endfor %}

{% endfor %}

{% endif %}

END-CHECK_PAMACCESSMODULE: SELECT * from PAMAccessModule WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PAMACCESSMODULE: UPDATE PAMAccessModule SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

END-CHECK_PAMACCESSRULE: SELECT * from PAMAccessRule WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PAMACCESSRULE: UPDATE PAMAccessRule SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

END-CHECK_PAMACCESSRULEUSER: SELECT * from PAMAccessRuleUser WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PAMACCESSRULEUSER: UPDATE PAMAccessRuleUser SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

END-CHECK_PAMACCESSRULEORIGIN: SELECT * from PAMAccessRuleOrigin WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_PAMACCESSRULEORIGIN: UPDATE PAMAccessRuleOrigin SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

