# Generating SQL for Memories of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["memory"] is defined %}

{% if hostvars[inventory_hostname]["memory"]["arrays"] is defined %}

{% for array in hostvars[inventory_hostname]["memory"]["arrays"] -%}

CHECK_MEMORYARRAY_{{ loop.index }}: SELECT * FROM MemoryArray WHERE Server='{{ inventory_hostname }}' AND Handle='{{ array["Handle"] }}' AND Location='{{ array["Location"] }}' AND MemoryUse='{{ array["Use"] }}' AND ErrorCorrectionType='{{ array["Error Correction Type"] }}' AND MaxCapacity='{{ array["Maximum Capacity"] }}' AND NumberDevices='{{ array["Number Of Devices"] }}' AND Auto AND End IS NULL;

UPDATE_MEMORYARRAY_{{ loop.index }}: UPDATE MemoryArray SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ array["Handle"] }}' AND Location='{{ array["Location"] }}' AND MemoryUse='{{ array["Use"] }}' AND ErrorCorrectionType='{{ array["Error Correction Type"] }}' AND MaxCapacity='{{ array["Maximum Capacity"] }}' AND NumberDevices='{{ array["Number Of Devices"] }}' AND Auto AND End IS NULL; 

INSERT_MEMORYARRAY_{{ loop.index }}: INSERT INTO MemoryArray (Handle,Server,Location,MemoryUse,ErrorCorrectionType,MaxCapacity,NumberDevices,Init,Checked,Auto) VALUES ('{{ array["Handle"] }}','{{ inventory_hostname }}', '{{ array["Location"] }}', '{{ array["Use"] }}', '{{ array["Error Correction Type"] }}', '{{ array["Maximum Capacity"] }}', '{{ array["Number Of Devices"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}

{% if hostvars[inventory_hostname]["memory"]["slots"] is defined %}

{% for memory in hostvars[inventory_hostname]["memory"]["slots"] -%}

CHECK_MEMORY_{{ loop.index }}: SELECT * FROM Memory WHERE Server='{{ inventory_hostname }}' AND Handle='{{ memory["Handle"] }}' AND Array='{{ memory["Array"] }}' AND Locator='{{ memory["Locator"] }}' AND BankLocator='{{ memory["Bank Locator"] }}' AND Size='{{ memory["Size"] }}' AND Speed='{{ memory["Speed"] }}' AND Type='{{ memory["Type"] }}' AND Auto AND End IS NULL;

UPDATE_MEMORY_{{ loop.index }}: UPDATE Memory SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ memory["Handle"] }}' AND Array='{{ memory["Array"] }}' AND Locator='{{ memory["Locator"] }}' AND BankLocator='{{ memory["Bank Locator"] }}' AND Size='{{ memory["Size"] }}' AND Speed='{{ memory["Speed"] }}' AND Type='{{ memory["Type"] }}' AND Auto AND End IS NULL; 

INSERT_MEMORY_{{ loop.index }}: INSERT INTO Memory (Handle,Server,Array,Locator,BankLocator,Size,Speed,Type,Init,Checked,Auto) VALUES ('{{ memory["Handle"] }}','{{ inventory_hostname }}', '{{ memory["Array"] }}', '{{ memory["Locator"] }}', '{{ memory["Bank Locator"] }}', '{{ memory["Size"] }}', '{{ memory["Speed"] }}', '{{ memory["Type"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}

{% endif %}


END-CHECK_MEMORYARRAY: SELECT * from MemoryArray WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_MEMORYARRAY: UPDATE MemoryArray SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';

END-CHECK_MEMORY: SELECT * from Memory WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_MEMORY: UPDATE Memory SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
