# Generating SQL for Connectors of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["connector"] is defined %}

{% for conn in hostvars[inventory_hostname]["connector"] -%}

CHECK_CONNECTOR_{{ loop.index }}: SELECT * FROM Connector WHERE Server='{{ inventory_hostname }}' AND Handle='{{ conn["Handle"] }}' AND IntDesignator='{{ conn["Internal Reference Designator"] }}' AND IntType='{{ conn["Internal Connector Type"] }}' AND ExtDesignator='{{ conn["External Reference Designator"] }}' AND ExtType='{{ conn["External Connector Type"] }}' AND PortType='{{ conn["Port Type"] }}' AND Auto AND End IS NULL;

UPDATE_CONNECTOR_{{ loop.index }}: UPDATE Connector SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Handle='{{ conn["Handle"] }}' AND IntDesignator='{{ conn["Internal Reference Designator"] }}' AND IntType='{{ conn["Internal Connector Type"] }}' AND ExtDesignator='{{ conn["External Reference Designator"] }}' AND ExtType='{{ conn["External Connector Type"] }}' AND PortType='{{ conn["Port Type"] }}' AND Auto AND End IS NULL; 

INSERT_CONNECTOR_{{ loop.index }}: INSERT INTO Connector (Handle,Server,IntDesignator,IntType,ExtDesignator,ExtType,PortType,Init,Checked,Auto) VALUES ('{{ conn["Handle"] }}','{{ inventory_hostname }}', '{{ conn["Internal Reference Designator"] }}', '{{ conn["Internal Connector Type"] }}', '{{ conn["External Reference Designator"] }}', '{{ conn["External Connector Type"] }}', '{{ conn["Port Type"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}


END-CHECK_CONNECTOR: SELECT * from Connector WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
END-UPDATE_CONNECTOR: UPDATE Connector SET End=NOW() WHERE Server='{{ inventory_hostname }}' AND Auto AND End IS NULL AND Checked<'##checkedTime##';
