# Generating SQL for Users & Groups of {{ inventory_hostname }}

{% if hostvars[inventory_hostname]["lusers"] is defined %}

{% for user in hostvars[inventory_hostname]["lusers"] -%}

CHECK_USER_{{ loop.index }}: SELECT * FROM LocalUser WHERE Server='{{ inventory_hostname }}' AND Name='{{ user["name"] }}' AND UID='{{ user["uid"] }}' AND GID='{{ user["gid"] }}' AND PasswdType='{{ user["passwdType"] }}' AND {{ "LastChange='%s'" % (user["lastChange"]) if user["lastChange"] != "" else "LastChange IS NULL" }} AND Description='{{ user["description"] }}' AND Home='{{ user["home"] }}' AND Shell='{{ user["shell"] }}' AND Auto AND End IS NULL;

UPDATE_USER_{{ loop.index }}: UPDATE LocalUser SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Name='{{ user["name"] }}' AND UID='{{ user["uid"] }}' AND GID='{{ user["gid"] }}' AND PasswdType='{{ user["passwdType"] }}' AND {{ "LastChange='%s'" % (user["lastChange"]) if user["lastChange"] != "" else "LastChange IS NULL" }} AND Description='{{ user["description"] }}' AND Home='{{ user["home"] }}' AND Shell='{{ user["shell"] }}' AND Auto AND End IS NULL; 

INSERT_USER_{{ loop.index }}: INSERT INTO LocalUser (Name,Server,UID,GID,PasswdType,LastChange,Description,Home,Shell,Init,Checked,Auto) VALUES ('{{ user["name"] }}', '{{ inventory_hostname }}', '{{ user["uid"] }}', '{{ user["gid"] }}', '{{ user["passwdType"] }}', {{ "'%s'" % (user["lastChange"]) if user["lastChange"] != "" else "NULL" }}, '{{ user["description"] }}', '{{ user["home"] }}', '{{ user["shell"] }}', NOW(), NOW(), 1);

{% endfor %}

{% endif %}

{% if hostvars[inventory_hostname]["lgroups"] is defined %}

{% for group in hostvars[inventory_hostname]["lgroups"] -%}

CHECK_GROUP_{{ loop.index }}: SELECT * FROM LocalGroup WHERE Server='{{ inventory_hostname }}' AND Name='{{ group["name"] }}' AND GID='{{ group["gid"] }}' AND Auto AND End IS NULL;

UPDATE_GROUP_{{ loop.index }}: UPDATE LocalGroup SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND Name='{{ group["name"] }}' AND GID='{{ group["gid"] }}' AND Auto AND End IS NULL;

INSERT_GROUP_{{ loop.index }}: INSERT INTO LocalGroup (Name,Server,GID,Init,Checked,Auto) VALUES ('{{ group["name"] }}', '{{ inventory_hostname }}', '{{ group["gid"] }}', NOW(), NOW(), 1);

{% for groupuser in group["users"] -%}

CHECK_GROUPUSER_{{ group["name"] }}_{{ loop.index }}: SELECT * FROM LocalGroupUser WHERE Server='{{ inventory_hostname }}' AND GroupName='{{ group["name"] }}' AND UserName='{{ groupuser }}' AND Auto AND End IS NULL;

UPDATE_GROUPUSER_{{ group["name"] }}_{{ loop.index }}: UPDATE LocalGroupUser SET Checked=NOW() WHERE Server='{{ inventory_hostname }}' AND GroupName='{{ group["name"] }}' AND UserName='{{ groupuser }}' AND Auto AND End IS NULL; 

INSERT_GROUPUSER_{{ group["name"] }}_{{ loop.index }}: INSERT INTO LocalGroupUser (GroupName,UserName,Server,Init,Checked,Auto) VALUES ('{{ group["name"] }}', '{{ groupuser }}', '{{ inventory_hostname }}', NOW(), NOW(), 1);

{% endfor %}

{% endfor %}

{% endif %}

END-CHECK_USER: SELECT * from LocalUser WHERE LocalUser.Server='{{ inventory_hostname }}' AND LocalUser.Auto AND LocalUser.End IS NULL AND LocalUser.Checked<'##checkedTime##';
END-UPDATE_USER: UPDATE LocalUser SET End=NOW() WHERE LocalUser.Server='{{ inventory_hostname }}' AND LocalUser.Auto AND LocalUser.End IS NULL AND LocalUser.Checked<'##checkedTime##';

END-CHECK_GROUP: SELECT * from LocalGroup WHERE LocalGroup.Server='{{ inventory_hostname }}' AND LocalGroup.Auto AND LocalGroup.End IS NULL AND LocalGroup.Checked<'##checkedTime##';
END-UPDATE_GROUP: UPDATE LocalGroup SET End=NOW() WHERE LocalGroup.Server='{{ inventory_hostname }}' AND LocalGroup.Auto AND LocalGroup.End IS NULL AND LocalGroup.Checked<'##checkedTime##';

END-CHECK_GROUPUSER: SELECT * from LocalGroupUser WHERE LocalGroupUser.Server='{{ inventory_hostname }}' AND LocalGroupUser.Auto AND LocalGroupUser.End IS NULL AND LocalGroupUser.Checked<'##checkedTime##';
END-UPDATE_GROUPUSER: UPDATE LocalGroupUser SET End=NOW() WHERE LocalGroupUser.Server='{{ inventory_hostname }}' AND LocalGroupUser.Auto AND LocalGroupUser.End IS NULL AND LocalGroupUser.Checked<'##checkedTime##';

