<?php
/**
 * Default settings for the authhttp plugin
 *
 * @author Pieter Hollants <pieter@hollants.com>
 */

$conf['usernameregex'] = '.+';
$conf['emaildomain']   = '{{ ansible_domain|default("localdomain") }}';
$conf['specialusers']  = 'admin';
$conf['specialgroup']  = 'admin';
