# Generating SQL for Outsider {{ item.name }}

CHECK_SERVER: SELECT Name FROM Server WHERE Server.Name='{{ item.name }}' AND Server.IP='{{ item.IP }}' AND Server.Node={{ ("1" if item.type=="node" else "0") if item.type != "winNode" else "2" }} AND Server.Auto AND Server.End IS NULL ORDER BY Server.Init LIMIT 1;

INSERT_SERVER: INSERT INTO Server (Name, IP, ShortName, Domain, Init, Checked, Node, Auto) VALUES ('{{ item.name }}', '{{ item.IP }}', '{{ item.name|replace(['.',ansible_domain]|join,"") }}', '{{ ansible_domain }}', NOW(), NOW(), {{ ("1" if item.type=="node" else "0") if item.type != "winNode" else "2" }} , 1); 

UPDATE_SERVER: UPDATE Server SET Checked=NOW(), Node={{ ("1" if item.type=="node" else "0") if item.type != "winNode" else "2" }} WHERE Server.Name='{{ item.name }}' AND Server.IP='{{ item.IP }}' AND Server.Node={{ ("1" if item.type=="node" else "0") if item.type != "winNode" else "2" }} AND Server.Auto AND Server.End IS NULL ORDER BY Server.Init LIMIT 1;

