# Generating SQL for TCP & UDP ports of {{ item.name }}

{% if item.tcp is defined -%}
{% for portTCP in item.tcp -%}

CHECK_PORT_TCP_{{ portTCP }}: SELECT * FROM ServerPort WHERE ServerPort.Server='{{ item.name }}' AND ServerPort.Protocol='TCP' AND ServerPort.Port={{ portTCP }} AND ServerPort.BindIP4='' AND ServerPort.BindIP6='' AND ServerPort.Process='' AND ServerPort.Access="OUT" AND ServerPort.Auto AND ServerPort.End IS NULL;

UPDATE_PORT_TCP_{{ portTCP }}: UPDATE ServerPort SET Checked=NOW() WHERE ServerPort.Server='{{ item.name }}' AND ServerPort.Protocol='TCP' AND ServerPort.Port={{ portTCP }} AND ServerPort.BindIP4='' AND ServerPort.BindIP6='' AND ServerPort.Process='' AND ServerPort.Access="OUT" AND ServerPort.Auto AND ServerPort.End IS NULL;

INSERT_PORT_TCP_{{ portTCP }}: INSERT IGNORE INTO Protocol (Name, Descrip, Auto) VALUES ('TCP', 'TCP Protocol', 1);

INSERT_PORT_TCP_{{ portTCP }}: INSERT IGNORE INTO Port (Port, Protocol, Descrip, Auto) VALUES ({{ portTCP }}, 'TCP', 'TCP Port {{ portTCP }}', 1);

INSERT_PORT_TCP_{{ portTCP }}: INSERT INTO ServerPort (Server,Port,Protocol,BindIP4,BindIP6,Process,Access,Init,Checked,Auto) VALUES ('{{ item.name }}', {{ portTCP }}, 'TCP', '', '', '', "OUT", NOW(), NOW(), 1);

{% endfor %}
{% endif %}

END-CHECK_PORTS: SELECT * from ServerPort WHERE ServerPort.Server='{{ item.name }}' AND ServerPort.Access="OUT" AND ServerPort.Auto AND  ServerPort.End IS NULL AND ServerPort.Checked<'##checkedTime##';
END-UPDATE_PORTS: UPDATE ServerPort SET End=NOW() WHERE ServerPort.Server='{{ item.name }}' AND ServerPort.Access="OUT" AND ServerPort.Auto AND ServerPort.End IS NULL AND ServerPort.Checked<'##checkedTime##';
