# Checking errors in Ansible 

# Ansible errors
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ hostnameAnsible }} 
        service_description             Ansible errors 
        check_command                   check_nrpe_1arg!check_errorsAnsible
        }

# Ansible errors (Mysql)
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ hostnameMysql }}
        service_description             Mysql errors with Ansible
        check_command                   check_nrpe_1arg!check_errorsMysql
        }

