# localhost 

define host {
        use                     linux-server
        host_name               localhost
        alias                   localhost
        address                 127.0.0.1
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       localhost
        service_description             TCP 22
        check_command                   check_tcp!22
        }

